/*** spielwiese.css ***/

:root {
	Xscroll-behavior: smooth;   /* Firefox: Does not scroll properly on Shift+Enter */
	color-scheme:light dark; /* both supported */
}

.terminal {
	--tab-size       : 4;
	--input-tab-size : 8; X:var(--tab-size);

	--line-height : 1;

	--a-color   : #0af;
	--a-visited : #b8f;
	--a-active  : #0ff;
	--a-focus   : #fff;
	--a-hover   : #0ff;

	--focus-border : solid 1px #0f8;
	--focus-bg     : #fff4;

	--terminal-height  : calc(100vh - 2 * (var(--terminal-padding) + var(--toolbar-height)));
	--terminal-padding : 10px;

	--toolbar-height     : 30px;
	--toolbar-outline    : solid 1px #fff3;
	--toolbar-background : #445a;

	--menu-offset        : 0px;
	--menu-gap           : 5px;
	--menu-border-radius : 5px;

	--items-gap      : 2px;
	--item-min-width : 8em;

	--menu-enter-width : 18em;

	--offline-color       : #fc08;
	--offline-bg          : #fa02;
	--online-color        : #0af;
	--online-color-0      : #0afc;
	--online-color-f      : #0aff;
	--online-bg           : #08f2;
	--authenticated-color : #fff;
	--authenticated-bg    : var(--online-bg);

	--transmit-color   : #4af;
	--transmit-bg      : #4af5;

	--speaker      : '🗣';
	--one-person  : '👤';
	--two-persons : '👥';

	--self-content : var(--one-person);
	--self-color   : #fff;

	--input-color        : #fc0;
	--input-bg           : #000f;
	--input-border       : solid 1px #000;
	--input-border-width : 1px;
	--input-radius       : 3px;
	--input-padding-x    : calc(var(--toolbar-height) / 3.5);
	--input-padding-y    : 0px;

	--button-color          : #fed;
	--button-bg             : #08f1;
	--button-padding        : 0 10px;

	--button-enabled-color  : #af4;
	--button-enabled-bg     : #88ff0018;
	--button-special-bg     : #ff000018;

	--button-enter-color    : var(--button-color);X:var(--button-special-color);
	--button-enter-bg       : var(--button-special-bg);
	--button-close-color    : var(--button-special-color);
	--button-close-bg       : var(--button-special-bg);

	--main_menu-color : #fff;
	--chat-color      : #8df;
	--cep-color       : #cc0;
	--mcp-color       : #f00;

	--warning-color   : #fc0;
	--error-color     : #e20;
	--success-color   : #0f0;

	--debug-color     : #acf;
	--text-color      : #0fe;
	--request-color   : #ca0;
	--response-color  : #78f;
	--string-color    : #5c6;
	--notice-color    : #acf;
	--broadcast-color : #86f;
	--update-color    : #090;

	--separator-color    : #a60;
	--separator-border   : dashed 1px var(--separator-color);
	--toggle-state-color : #f0f;
	--toggle-state-bg    : #f0f4;



	--font-family : var(--font1);
	--font-size   : 17px;

	--font0 : WhiteRabbit;
	--font1 : Terminus;
	--font2 : ModeSeven;
	--font3 : DIGIT;
	/*
	--font4 : Digit-V4WI;
	--font5 : CenturyGothic;
	--font6 : SETIPERU;
	--font7 : fa-brands-400;
	--font8 : fa-regular-400;
	--font9 : fa-solid-900;
	* */


	/* NON-FANCY */
/*
	toolbar-bg: #2D2D39
*/
}

.terminal.font0 { --font-family : var(--font0); }
.terminal.font1 { --font-family : var(--font1); }
.terminal.font2 { --font-family : var(--font2); }
.terminal.font3 { --font-family : var(--font3); }
.terminal.font4 { --font-family : var(--font4); }
.terminal.font5 { --font-family : var(--font5); }
.terminal.font6 { --font-family : var(--font6); }
.terminal.font7 { --font-family : var(--font7); }
.terminal.font8 { --font-family : var(--font8); }
.terminal.font9 { --font-family : var(--font9); }

body.dark_mode {}
/*@media (prefers-color-scheme: dark) { body.init {background:#000; color:#fff;} }


/* FONTS */

@font-face {
	font-family: 'Terminus';
	src: url('/fonts/TerminusTTF.woff')  format('woff');
	src: url('/fonts/TerminusTTF.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'WhiteRabbit';
	src: url('/fonts/WhiteRabbit.woff')  format('woff');
	src: url('/fonts/WhiteRabbit.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ModeSeven';
	src: url('/fonts/ModeSeven.woff')  format('woff');
	src: url('/fonts/ModeSeven.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CenturyGothic';
	src: url('/fonts/CenturyGothic.woff')  format('woff');
	src: url('/fonts/CenturyGothic.woff') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIGIT';
	src: url('/fonts/DIGIT.woff')  format('woff');
	src: url('/fonts/DIGIT.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Digit-V4WI';
	src: url('/fonts/Digit-V4WI.woff')  format('woff');
	src: url('/fonts/Digit-V4WI.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fa-brands-400';
	src: url('/fonts/fa-brands-400.woff')  format('woff');
	src: url('/fonts/fa-brands-400.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fa-regular-400';
	src: url('/fonts/fa-regular-400.woff')  format('woff');
	src: url('/fonts/fa-regular-400.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fa-solid-900';
	src: url('/fonts/fa-solid-900.woff')  format('woff');
	src: url('/fonts/fa-solid-900.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SETIPERU';
	src: url('/fonts/SETIPERU.woff')  format('woff');
	src: url('/fonts/SETIPERU.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


/* MAIN LAYOUT */

/* TERMINAL */
.terminal.enabled { display:grid; }
.terminal {
	position:absolute; top:0; left:0; z-index:999; transform:unset;
	display:none; grid-template-rows:min-content auto min-content; grid-template-areas:"r0" "r1" "r2";
	width:100%; height:100%; Xoverflow:hidden;
	padding:var(--terminal-padding); font-size:var(--font-size); background:#000;
	--scrollbar-thumb-color:#08f4; --scrollbar-track-color:#0660;
	scrollbar-color:var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}
.terminal ::-webkit-scrollbar { opacity:1; width:9px; height:9px; }
.terminal ::-webkit-scrollbar-thumb { background:var(--scrollbar-thumb-color); }
.terminal ::-webkit-scrollbar-track { background:var(--scrollbar-track-color); }
.terminal header { grid-area:r0; position:relative; }
.terminal main   { grid-area:r1; position:relative; width:100%; max-height:100%; overflow:hidden; }
.terminal footer { grid-area:r2; }
.terminal .shell { display:grid; grid-template-areas:"m0" "m1"; grid-template-rows:auto 1fr; padding:0 5px; }
.terminal .shell output   { grid-area:m0; }
.terminal .shell textarea { grid-area:m1; }
.terminal ::selection {
	color:#fff;
	background:#06c8;
}
.terminal :is(h2, input, button, span, code, ::before, ::after, .toolbar, textarea, pre, a, b) {
	font-family:var(--font-family); font-size:var(--font-size); line-height:1rem;
	tab-size:var(--tab-size);
}

/* TOOLBARS */
.terminal .toolbar {
	position:relative;
	display:flex; gap:var(--menu-gap);
	Xheight:var(--toolbar-height);
	outline:var(--toolbar-outline);
	border-radius:5px;
	background:var(--toolbar-background); color:#fff;
	Xbox-shadow:
		inset 0 0 0 1px #fff2,
		inset 0 0 5px 0 #000
	;
	box-shadow:var(--menu-box-shadow);
}

/* MENU */
.terminal .node    .items { width:8em;  }
.terminal .main    .items { width:12em; }
.terminal .clear   .items { width:6em; }
.terminal .toggles .items { width:14em; }
.terminal .filter  .items { width:14em; }
.terminal .toggles .items button { flex-basis:6em; }
.terminal .auth    .items { width:var(--menu-enter-width); }

.terminal .toolbar nav { display:flex; justify-content:center; }
.terminal .toolbar nav > .items { display:none; }
.terminal:not(.connected) .send .items,
.terminal:not(.connected) .main_menu .items,
.terminal .toolbar nav:is(:hover,:focus,:focus-within) > .items {
	--r:var(--menu-border-radius);
	display:flex; gap:var(--menu-gap); flex-wrap:wrap; align-items:center; justify-content:center;
	position:absolute; top:calc(100% + var(--menu-offset)); right:0; z-index:999;
	box-sizing:content-box;
	border-radius:0 0 var(--r) var(--r);
	padding:var(--menu-gap);
	background:var(--toolbar-background);
	box-shadow:
		inset 0 1px 0 0 #fff2,
		      0 2px 0 0 #0004
	;
}
.terminal .toolbar nav:is(:hover,:focus,:focus-within) .items { box-shadow:inset 0 0 0 1px #fff0; }
.terminal .toolbar > nav:first-child .items { left:0; right:unset; }
.terminal .toolbar > nav:is(:hover,:focus,:focus-within) nav .items { color:#80fc; padding-bottom:0; }
.terminal .toolbar > nav:is(:hover,:focus,:focus-within) nav .items .close { color:var(--button-color); }

/* Sub Menus */
.terminal .toolbar > nav form nav {
	padding:5px; margin:-5px;
}
.terminal .toolbar nav form nav > button  { width:100%; } /* 3 buttons, each fill their "cell"?? somehow with this */
.terminal .toolbar nav form nav > .commands + .items button { Xflex-basis:6rem; ; min-width:5em; }
.terminal .toolbar > nav:first-child form nav,
.terminal .toolbar > nav:first-child .items {
	left:0; right:unset;
}



/* OUTPUT */
.terminal output {
	margin-top:1em;
	color:var(--text-color);
	white-space:pre-wrap;
	overflow-y:scroll;
	Xscroll-behavior: smooth;   /* Firefox: Does not scroll properly on Shift+Enter */
}

/* INPUT */
.terminal textarea {
	width:100%; border:none;
	background:transparent; color:var(--main_menu-color);
	resize:none;
	caret-shape:block;
	Xcaret-shape:bar;
	Xcaret-shape:unserscore;
	caret-color: #ff0;
}
X.terminal textarea:focus { caret-color:#f0f; }
.terminal textarea.request { color:var(--request-color); }
.terminal textarea.cep     { color:var(--request-color); }
.terminal textarea.local   { color:var(--request-color); }
.terminal textarea.local ::first-letter { color:#fff; }

/* BUTTONS */
.terminal .toolbar > nav .items > * { flex-grow:1; min-width:3em; }
.terminal footer.toolbar > nav:hover .items,
.terminal footer.toolbar > nav:focus .items,
.terminal footer.toolbar > nav:focus-within .items {
	top:unset; bottom:calc(100% + var(--menu-offset));
	border-radius:var(--v) var(--v) 0 0;
}

.terminal.fancy :is(button, span, code, ::before, ::after, textarea, output pre, a, b) {
	text-shadow:
		1px  0 #0004,
		-1px 0 #0004,
		0 1px  #0004,
		0 -1px #0004,

		2px  0 #0008,
		-2px 0 #0008,
		0 2px  #0008,
		0 -2px #0008
	;
	line-height:1rem;
}

/* FORM INPUT */
.terminal input {
	height:var(--toolbar-height);
	border:var(--input-border); border-radius:var(--input-radius);
	padding:var(--input-padding-y) var(--input-padding-x);
	background:var(--input-bg); color:var(--input-color);
}
.terminal input:focus {
	outline:none;
	border:var(--focus-border);
}
.terminal button {
	height:var(--toolbar-height);
	border:var(--input-border);
	border-radius:5px;
	background: var(--button-bg);
	color:var(--button-color);
	white-space:nowrap;
	box-shadow:
		inset -0px -0px 0px 1px #0006,
		inset  1px  1px 0px 1px #fff2
	;
	padding:var(--button-padding);
}
.terminal input:hover,
.terminal button:focus,
.terminal button:hover {
	border:var(--focus-border); filter:brightness(1.5);
}

.terminal button.blink.success { color:var(--success-color); }
.terminal button.blink { animation: TOGGLE 0.5s linear 1; }
@keyframes TOGGLE {
	 0% { filter:brightness(2) contrast(1); }
	11% { filter:brightness(1) contrast(2); }
	22% { filter:brightness(2) contrast(1); }
	33% { filter:brightness(1) contrast(2); }
	44% { filter:brightness(2) contrast(1); }
	55% { filter:brightness(1) contrast(2); }
	66% { filter:brightness(2) contrast(1); }
}

.terminal button.ssnStat,
.terminal button.clear,
.terminal button.help,
.terminal button.bit,
X.terminal button.who,
.terminal button.login,
.terminal button.logout,
.terminal button.connect,
.terminal button.disconnect {
	background:var(--button-special-bg);
}
.terminal button.debug:not(.enabled),
.terminal button.enter   { background:var(--button-enter-bg  ); color:var(--button-enter-color  ); }
.terminal button.close   { background:var(--button-close-bg  ); color:var(--button-close-color  ); }

.terminal .toolbar button.enabled { background:var(--button-enabled-bg); color:var(--button-enabled-color); }

.terminal .toolbar button.transmit,
.terminal .toolbar button.ping { background:var(--transmit-bg); }
.terminal.fancy nav .connection::before {
	content:''; display:none;
}
.terminal.fancy button.transmit::before,
.terminal.fancy button.ping::before {
	display:block;
	position:absolute; bottom:100%; left:10px; z-index:-1;
	width:20px; height:0;
	background:linear-gradient(to right, #0ff0, #0ff2 40%, #ffff 49%, #ffff 51%, #0ff2 60%, #0ff0 100%);
	height:var(--terminal-height);
}


/* TOOLBAR GADGETS */

/* LIST */
.terminal .list { display:flex; align-items:center; }
.terminal .list button:last-child { margin-right:0; }
/* Self */
.terminal .list button.self { display:none; }
.terminal .list button.self { display:block; color:var(--self-color); }
.terminal .list button.self::before {
	content:var(--self-content);
	font-size:0.8em;
	padding-right:5px;
	text-shadow:
		1px  0 #fff8,
		-1px 0 #fff8,
		0 1px  #fff8,
		0 -1px #fff8
	;
}

/* Who */
.terminal .list.who::before {
	content:'⟷';
	color:#023;
	font-weight:bold;
	padding-right:3px;
	filter:drop-shadow(0 0 2px #cef);
}

/* Room */
.terminal header.toolbar > nav.room { flex-grow:1; align-items:center; justify-content:end; padding-right:10px; }

/* Toggle state */
.terminal .list.toggle_state { padding:0 5px; color:#bdfa; cursor:pointer; }
.terminal .list b { color:#bdf; font-weight:normal; }

/* Connection */
.terminal .node       > button,
.terminal .connection > button,
.terminal .connection.warning {
	border:solid 1px var(--offline-color);
	background:var(--offline-bg); color:var(--offline-color);
	transition:color 0.2s linear;
}
.terminal.connected .node       > button,
.terminal.connected .connection > button,
.terminal.connected .connection.warning {
	border:solid 1px var(--online-color);
	background:var(--online-bg); color:var(--online-color);
}
.terminal.authenticated .node       > button,
.terminal.authenticated .connection > button,
.terminal.authenticated .connection button.warning {
	color:var(--authenticated-color);
}

/*Status */
.terminal .status {
	flex-grow:1;
	position:relative; padding-left:5px; cursor:pointer; align-self:center;
	Xheight:1rem; overflow:hidden; Xtext-overflow:ellipsis; Xwhite-space:nowrap;
}
.terminal .status .extra {
	Xposition:absolute;
	Xline-height:1rem;
}
.terminal .status a { text-decoration:none; }
.terminal .status a:hover { color:#acf; text-decoration:underline; }

/* Time */
.terminal .time { transition:opacity 0.25s linear; opacity:1; }
.terminal .time.fade_out { opacity:0; }
.terminal .time {
	Xfont-variant-numeric: normal;
	Xfont-variant-numeric: ordinal;
	font-variant-numeric: slashed-zero;
	Xfont-variant-numeric: lining-nums; /* <numeric-figure-values> */
	font-variant-numeric: oldstyle-nums; /* <numeric-figure-values> */
	Xfont-variant-numeric: proportional-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: tabular-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: diagonal-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: stacked-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: oldstyle-nums stacked-fractions;
	position:absolute;
	opacity:1; transition:opacity 1s linear;
}
.terminal .time.fade_out {
	opacity:0;
}


/* OUTPUT TEXT */

.terminal a         { color:var(--a-color   ); text-decoration:underline; }
.terminal a:visited { color:var(--a-visited ); }
.terminal a:active  { color:var(--a-active  ); }
.terminal a:focus   { color:var(--a-focus   ); }
.terminal a:hover   { color:var(--a-hover   ); }

/* PRE */
.terminal pre.cep       { color:var(--cep-color);       }
.terminal pre.debug     { color:var(--debug-color);     }
.terminal pre.string    { color:var(--string-color);    }
.terminal pre.notice    { color:var(--notice-color);    }
.terminal pre.broadcast { color:var(--broadcast-color); }
.terminal pre.update    { color:var(--update-color);    }
.terminal pre.request   { color:var(--request-color);   }
.terminal pre.response  { color:var(--response-color);  }
.terminal pre.chat      { color:var(--chat-color);      }
.terminal pre.error     { color:var(--error-color);     }

.terminal pre { display:block; }
.terminal .debug .cep       pre.cep,
.terminal .debug .string    pre.string,
.terminal .debug .notice    pre.notice,
.terminal .debug .broadcast pre.broadcast,
.terminal .debug .update    pre.update,
.terminal .debug .request   pre.request,
.terminal .debug .response  pre.response { display:none; }

/* Striped background */
.terminal .shell:not(.debug) pre:is(.chat,.string):hover {
	--b0:#223c;
	--b1:#234c;
	background-image: -webkit-linear-gradient(var(--b0) 50%, var(--b1) 50%);
	background-image:    -moz-linear-gradient(var(--b0) 50%, var(--b1) 50%);
	background-image:     -ms-linear-gradient(var(--b0) 50%, var(--b1) 50%);
	background-image:      -o-linear-gradient(var(--b0) 50%, var(--b1) 50%);
	background-image:         linear-gradient(var(--b0) 50%, var(--b1) 50%);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 1rem 2rem;
}

/* EXPAND */
.terminal pre { position:relative; z-index:10; white-space:pre-wrap; }
.terminal .separators pre { Xborder:solid 1px #fff4; Xborder-width:0 0 1px; margin:0 0 5px; }
.terminal output pre:hover { color:#fed; cursor:pointer; }

.terminal :not(.compact).overflow pre.unexpand,
.terminal .compact.overflow.last pre:last-child,
.terminal .compact.overflow pre {
	height:1rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}

.terminal output.compact pre.unexpand:last-child,
.terminal :not(.compact) pre.unexpand,
.terminal .compact pre {
	white-space:normal;
}

/* LAST */
.terminal output[class]:not(.compact) pre.unexpand { margin-bottom:0.5em; }

.terminal:not(.debug) output.compact.last pre:last-child,/*//...*/
.terminal output.compact pre.expand {
	white-space:pre-wrap; height:unset; overflow:unset;
}

/* MARKER */
.terminal output:not(.overflow) pre.mark { margin-bottom:-0.7em; }
.terminal pre.mark { position:relative; display:block; overflow:hidden; }
.terminal pre.mark::after {
	content:'';
	display:block; position:relative; overflow:hidden;
	transform:translate(-35.5px, 7px);
	width:calc(100% + 35px);
	height:1.2em;
	transform:translate(-35.5px, 7px);
	margin-right:-50px;
	outline:none;
	border:solid 1px #09f8; border-width:1px 0 0;
	margin-bottom:6.5px;
	color:transparent;
}

/* iframe */
.terminal .expand iframe { display:none; }
.terminal iframe {
	--p:5px; --c:#48f8;
	box-sizing:content-box;
	position:relative; Xz-index:-1;
	width:calc(100% - 3 * var(--p) - 10px);
	max-height:calc(100vh - 6em - calc(2 * calc(1.2em + 2px + 10px + 10px)));
	margin:calc(-1em + 2px) 0 1em 1px;
	outline:solid 1px var(--c);
	border:solid 10px #08f1; border-width:0.8em 3px; border-radius:0 5px 5px 5px; overflow:hidden;
	box-shadow:inset 0 0 0 1px var(--c);
	padding:1px;
	Xpadding:var(--p) 6px;
	Xbackground:#000a;   /* Turns command dark */
	scroll:auto;
}


/* FANCY TERMINAL */

.terminal.fancy {
	background:unset;
	background-image:url(/images/bg_grid3.jpg);   /******************************************************* GRID **/
	background-size:cover;
	background-size:auto 100%;
	background-position:center;
	Xtransition:background-image 0.5s ease-in-out;
}
.terminal.fancy.connected { opacity:1; }
@media (min-aspect-ratio: 4/3) {
    .terminal.fancy {
        background-size: 100% 100%;
    }
}
.terminal.fancy::after {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; Xz-index:1;
	background-color:#2220;
	background-image:url(/images/beam.png);   /*********************************************************** BEAM **/
	background-position:6px center;
	background-repeat:no-repeat;
	background-size:calc(96px / 2) var(--terminal-height);
	filter:hue-rotate(200deg) brightness(0.75) contrast(1.5);
}
.terminal.fancy.connected::after {
	filter:hue-rotate(0deg) brightness(1) contrast(1);
}

.terminal.fancy.connected .cep > button,
.terminal.fancy.connected .node > button {
	box-shadow:0 0 10px 0 var(--online-color);
}

.terminal.fancy.bit output::before {
	transform:translate(-50%,-50%) scale(1);
}
.terminal.fancy output::before {
	--b:0.85;
	content:'';
	position:absolute; top:50%; left:50%; Xz-index:-2; transform:translate(-50%,-50%) scale(0.00001);
	width:130px; height:125px;
	background-image:url(/images/bit_transparent.gif);   /************************************************* BIT **/
	filter:hue-rotate(180deg) brightness(var(--b));
	transition:transform 0.3s linear;
}
.terminal.fancy > * { z-index:3; }
.terminal.fancy.connected  output::before { filter:hue-rotate(  0deg) brightness(var(--b));        }
.terminal.fancy.bit.yes    output::before { filter:hue-rotate(-90deg) brightness(0.9) contrast(2); }
.terminal.fancy.bit.no     output::before { filter:hue-rotate(140deg) brightness(0.9) contrast(3); }

.terminal.fancy.bit.yes    output::after,
.terminal.fancy.bit.no     output::after {
	content:'';
	position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:-1;
	width:200%; height:200%;
	border-radius:100%;
	background:#0000;
}
.terminal.fancy.yes output::after { background:radial-gradient(circle at center, #0f02, #0801 7%, #0000 10%); }
.terminal.fancy.no  output::after { background:radial-gradient(circle at center, #f003, #8002 7%, #0000 10%); }


/* FANCY PRE */

.terminal.fancy :is(textarea, pre) { padding-left:50px; }
/* Beam DOTS */
.terminal.fancy pre::before {
	content:'';
	position:absolute; left:calc(var(--terminal-padding) - 5px); top:1px;
	width:20px; height:12px;
	outline:solid 1px #fff2; border-radius:100%;
	background:radial-gradient(ellipse at center, #fffc, #fff8 1px, #fff1 5px, #fff0 6px);
}
.terminal.fancy.animate	 pre.expand::before {
	animation: MARKER_GLOW 3s ease-in-out infinite;
}
@keyframes MARKER_GLOW {
	    0% { opacity:1.0; }
	   50% { opacity:0.6; }
	  100% { opacity:1.0; }
}
.terminal.fancy pre.expand::before {
	outline-color:#fff6; border-radius:100%;
	background:radial-gradient(ellipse at center, #ffff, #fffa 3px, #fff1 10px, #fff0 20px);
}

.terminal.fancy pre.chat::before {
	content:'Msg'; line-height:10px; font-size:0.7em; text-align:center;
	outline:none; border-radius:3px; background:#0003;
}
.terminal.fancy .debug pre.chat::before { color:#0af; }
.terminal.fancy pre.chat.unexpand::before { background:#fff6; }

.terminal code      { color:#fcb; }
.terminal .success  { color:#080; }
.terminal .warning  { color:#fc0; }
.terminal .error    { color:#f00; }
.terminal .true     { color:#6e3; }
.terminal .false    { color:#f31; }
.terminal .null     { color:#4ef; }/*
.terminal code.period   { color:#ccc; }
.terminal code.colon    { color:#ccc; }
.terminal code.semi     { color:#ccc; }
.terminal code.slash    { color:#ccc; }
.terminal code.curlyO   { color:#fff; }
.terminal code.bracketO { color:#eee; }
.terminal code.parensO  { color:#ccc; }
.terminal code.parensC  { color:#ddd; }
.terminal code.bracketC { color:#ccc; }
.terminal code.curlyC   { color:#bbb; }
*/


/* ANIMATIONS */

/* Online Status */
.terminal.animate.fancy.connected .cep > button,
.terminal.animate.fancy.connected .node > button {
	animation: CONNECTION 2s ease-in-out infinite alternate;
}
@keyframes CONNECTION {
	  0% { filter:brightness( 1.0 ); box-shadow:0 0 15px 0 var(--online-color-0); }
	100% { filter:brightness( 1.1 ); box-shadow:0 0 15px 0 var(--online-color-f); }
}


/* Beams */
:not(.init).animate body::after,
.terminal.fancy.animate::after {
	animation: BEAM 0.1s ease-in-out infinite;
}
@keyframes BEAM {
	  0% { opacity:1.0;  }
	 49% { opacity:1.0;  }
	 50% { opacity:0.95; }
	 99% { opacity:0.95; }
	100% { opacity:1.0;  }
}

/* Transmission */
X.terminal.fancy .toolbar button.transmit::before,
X.terminal.fancy .toolbar button.ping::before {
	animation:TRANSMISSION 0.4s linear;
	opacity:0;
}
@keyframes TRANSMISSION {
	  0% { opacity:0;   }
	  1% { opacity:1;   }
	 30% { opacity:1;   }
	 31% { opacity:0.6; }
	 50% { opacity:0.9; }
	 68% { opacity:0.6; }
	 69% { opacity:1;   }
	 99% { opacity:1;   }
	100% { opacity:0;   }
}

/* MCP */
X:not(.init) .animate.enabled.terminal::before {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-2;
	background-image: url(/images/mcp.jpg);
	background-size: cover;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	filter:contrast(1.5) brightness(0.5);
	animation: MCP_MOVE 30s linear infinite;
}
@keyframes MCP_MOVE {
	 00% { transform:scale(1.00) rotate( 0deg) }
	 11% { transform:scale(1.03) rotate( 1deg) }
	 22% { transform:scale(1.10) rotate( 0deg) }
	 33% { transform:scale(1.25) rotate(-2deg) }
	 50% { transform:scale(1.50) rotate( 0deg) }
	 66% { transform:scale(1.25) rotate( 2deg) }
	 77% { transform:scale(1.10) rotate( 0deg) }
	 88% { transform:scale(1.03) rotate(-1deg) }
	100% { transform:scale(1.00) rotate( 0deg) }
}

/* Background */
X:not(.init) .animate.enabled.terminal::after {
	animation: MCP_GLOW 360s linear infinite; /*grid3*/
}
@keyframes MCP_GLOW {
	  0% { opacity:1.0; }

	 25% { opacity:1.0; }
	 26% { opacity:0.85; }
	 43% { opacity:0.75; }
	 45% { opacity:1.0; }

	 50% { opacity:1.0; }
	 50.4% { opacity:0.0; }
	 52% { opacity:0.7; }
	 58% { opacity:1.0; }

	100% { opacity:1.0; }
}

/* Bit */
X:not(.init) .animate.enabled.terminal output::before {
	animation: BIT_GLOW 360s linear infinite; /*bit.gif*/
}
@keyframes BIT_GLOW {
	 00% { opacity:1; }

	 23% { opacity:1; }
	 24% { opacity:0; }
	 45% { opacity:0; }
	 46% { opacity:1; }

	 48% { opacity:1; }
	 49% { opacity:0; }
	 59% { opacity:0; }
	 60% { opacity:1; }

	100% { opacity:1; }
}


/*EOF*/
