/*** spielwiese.css ***/

:root {
	Xscroll-behavior: smooth;   /* Firefox: Does not scroll properly on Shift+Enter */
	color-scheme:light dark; /* both supported */
}

.terminal {
	--font-family          : terminal;

	--input-color        : #000;
	--input-bg           : #fff;
	--input-border       : solid 1px #444;
	--input-border-width : 1px;
	--input-radius       : 0.2rem;

	--button-color          : #fff;
	--button-bg             : #555;
	--button-submit-color   : #fff;
	--button-submit-bg      : #c50;
	--button-close-color    : #fff;
	--button-close-bg       : #c50;
	--button-enabled-color  : #fff;
	--button-enabled-bg     : #676;
	--button-enabled-border : unset;

	--terminal-connected-color : #0a0;
	--terminal-ping-color      : #0f0;

	--terminal-debug-color     : #acf;
	--terminal-string-color    : #5c6;
	--terminal-notice-color    : #acf;
	--terminal-update-color    : #090;
	--terminal-broadcast-color : #86f;
	--terminal-text-color      : #ffe;
	--terminal-request-color   : #ca0;
	--terminal-response-color  : #78f;
	--terminal-warning-color   : #fc0;
	--terminal-error-color     : #e20;
	--terminal-success-color   : #0f0;
	--terminal-cep-color       : #cc0;
	--terminal-mcp-color       : var(--terminal-response-color);
	--terminal-chat-color      : #fff;

	--terminal-input-color      : var(--terminal-request-color);
	--terminal-input-bg         : #000;
	--terminal-separator-color  : #a60;
	--terminal-separator-border : dashed 1px var(--terminal-separator-color);

	--terminal-line-height: 1rem;
	--tab-size: 4;
	--input-tab-size: 8; X:var(--tab-size);

	--terminal-padding: 0.5em;
}


body.dark_mode {}


/* FONTS */

@font-face {
	font-family: 'terminal';
	src: url('/fonts/WhiteRabbit.woff')  format('woff');
	src: url('/fonts/WhiteRabbit.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


/* PAGE LAYOUT */

body {
	--a-color   : #444;
	--a-hover   : #000;
	--a-visited : #622;
	--a-active  : #008;
	--a-focus   : #00f;
}

* { margin:0; padding:0; box-sizing:border-box; font-size:15px; }

html, body { width:100%; height:100%; }
:not(.init) body {
	background-color:#000;
	background-image:url(/images/bg_grid.jpg);   /******************************************************** GRID **/
	Xbackground-size:calc(100% / 3) calc(100% / 3);
	Xbackground-size:cover;
	background-size:100% 100%;
}
html:not(.init)::after {
	content:'WHAT IS\AMY NODE'; white-space:pre;
	position:absolute; bottom:20px; left:30px; transform:translate(-50%,-50%);
	outline:solid 1px #fff6;
	border-radius:3px;
	padding:2px 5px;
	font-family:var(--font-family); font-size:0.7em; line-height:1.1em; text-align:center;
	background:#0007; color:#fc0;
}
:not(.init) body::after {
	content:'';
	position:absolute; top:0; left:0;
	height:100%; width:100%;
	background-color:#2220;
	background-image:url(/images/beam.png);   /*********************************************************** BEAM **/
	background-position:6px center;
	background-repeat:no-repeat;
	background-size:calc(96px / 2) 100%;
	filter:hue-rotate(200deg) brightness(0.75) contrast(1.5);
}

:focus { outline:none; }

a        { color:var(--a-color); text-decoration:none; }
a:hover  { color:var(--a-hover); text-decoration:underline; }
a:active { color:var(--a-active); }
a:focus  { color:var(--a-focus); }

h1 { font-size:1.35em; }
h2 { font-size:1.1em; }

footer { display:none; }


/* DEBUG CONSOLE */

/* MAIN LAYOUT */
.terminal.enabled { display:grid; }
.terminal {
	position:absolute; bottom:0; left:0; z-index:999;
	display:none; grid-template-rows:min-content auto min-content;
	grid-template-areas:"r0" "r1" "r2";
	width:100%; height:100%;
	padding:var(--terminal-padding);
	overflow:hidden;
	Xbackground:#210;
	Xbackground:#210a;
	background:#000;
}
.terminal.connected {
	Xbackground:#012;
	Xbackground:#012a;
}
.terminal header { grid-area:r0; position:relative; }
.terminal main   { grid-area:r1; position:relative; width:100%; max-height:100%; overflow:hidden; }
.terminal footer { grid-area:r2; }
.terminal .shell { display:grid; grid-template-areas:"m0" "m1"; grid-template-rows:auto 1fr; padding:0 5px; }
.terminal .shell output   { grid-area:m0; }
.terminal .shell textarea { grid-area:m1; }

/* Common */
.terminal ::selection {
	color:#fff;
	background:#06c;
}

.terminal :is(h2, input, button, span, code, ::before, ::after, .toolbar, textarea, pre) {
	font-family:monospace,monospace; font-size:1rem; line-height:var(--terminal-line-height);
	tab-size:var(--tab-size);
	font-family:terminal;
}
.terminal .toolbar *,
.terminal.fancy :is(button, span, code, ::before, ::after, textarea, output pre) {
	text-shadow:
		 1px  0px #0008,
		-1px  0px #0008,
		 0px  1px #0008,
		 0px -1px #0008
	;
}

/* CONTROLS */
.terminal input {
	border:var(--input-border);
	border-radius:var(--input-radius);
	border:var(--input-border); border-radius:0.25em;
	color:#fff;
	background:var(--terminal-input-bg); color:var(--terminal-input-color);
}
.terminal input:focus {
	outline:none;
	border-width:1px;
}

.terminal button {
	border:var(--input-border);
	border-radius:5px;
	background: var(--button-bg); color:var(--button-color);
	white-space:nowrap;
}
.terminal button:focus,
.terminal button:hover   { filter:brightness(1.5); }
.terminal button.submit  { background:var(--button-submit-bg); color:var(--button-submit-color); }
.terminal button.close   { background:var(--button-close-bg); color:var(--button-close-color); }
.terminal button.enabled {
	Xbox-shadow:
		inset 0 0 0 2px var(--button-enabled-bg)/*,
		0 0 0 2px var(--button-enabled-bg)*/
	;
	background:var(--button-enabled-bg);
	color:var(--button-enabled-color);
}
.terminal button.login,
.terminal button.logout,
.terminal button.who,
.terminal button.status,
X.terminal button.token,
.terminal button.clear,
.terminal button.help,
.terminal button.connect,
.terminal button.disconnect { background:#676; }

/* TOOLBARS */
.terminal .toolbar {
	position:relative;
	display:inline-flex; flex-wrap:wrap; Xalign-items:center; Xjustify-content:center;
	border-radius:5px;
	background:#fff3; color:#fff;
	box-shadow:inset 0 0 0 1px #fff5;
	user-select:none; cursor:default;
}
.terminal .toolbar > * { Xposition:relative; display:flex; }
.terminal header > :nth-child(1) { flex-grow:1; }
.terminal header > :nth-child(2) { flex-grow:0; justify-content:end; text-align:right; }
.terminal header > :nth-child(3) { flex-grow:0; justify-content:end; }
.terminal footer > :nth-child(1) { flex-grow:0; }
.terminal footer > :nth-child(2) { flex-grow:1; }
.terminal footer > :nth-child(3) { flex-grow:0; justify-content:end; }
.terminal footer > :nth-child(4) { flex-grow:0; justify-content:end; }

.terminal button,
.terminal input { height:calc(1.2rem + 2px); padding:2.5px 5px 1.5px; }
.terminal .toolbar,
.terminal .toolbar nav { height:calc(1.2rem + 2px); line-height:calc(1.2rem + 0px); }
.terminal .toolbar nav > :is(div, span) { padding:3px 5px; vertical-align:middle; }

/* PATH */
.terminal .toolbar .path {
	font-weight:bold;
	text-shadow:none;
	gap:0px;
}
.terminal .toolbar .path span { padding:3px 0; }
.terminal .toolbar .path > :first-child { padding-left:5px; }
.terminal .toolbar .path > ::after { content:'>'; padding:0 3px 0 2px; color:#fffa; font-weight:normal; }
.terminal .toolbar .path > :last-child::after { content:none; }

/* MENUS */
.terminal .toolbar > nav .items { display:none; background:#fff2; }
.terminal .toolbar > nav:hover .items,
.terminal .toolbar > nav:focus .items,
.terminal .toolbar > nav:focus-within .items {
	display:flex; flex-wrap:wrap; justify-content:center; align-items:center;
	position:absolute; top:100%; right:0; z-index:999;
	width:17em; box-sizing:content-box;
	Xborder:solid 1px #fffa; border-radius:5px;
	Xpadding:15px;
	padding:0px;
}
.terminal .toolbar > nav .items > * { flex-grow:1; min-width:3em; }
.terminal footer.toolbar > nav:hover .items,
.terminal footer.toolbar > nav:focus .items,
.terminal footer.toolbar > nav:focus-within .items { bottom:100%; top:unset; }

/* Other UI */
.terminal .connection.success { font-weight:bold; color:#080; transition:color 0.2s linear; }
.terminal .connection.ping { color:#0a0; }
.terminal.animate .connection.ping {
	background:radial-gradient(circle, #0f0 0, #0f00 10px);
	background-position:-100% 50%;
	background-size:20px 20px;
	background-repeat:no-repeat;
	animation: PING 0.5s linear 1;
}
@keyframes PING {
	  0% { background-position:-100% 50%; Xcolor:#080; X:var(--terminal-success-color); }
	 50% { background-position: 100% 50%; Xcolor:#0a0; X:var(--terminal-ping-color   ); }
	100% { background-position:-100% 50%; Xcolor:#080; X:var(--terminal-success-color); }
}

.terminal .time {
	flex-grow:1;
	Xfont-variant-numeric: normal;
	Xfont-variant-numeric: ordinal;
	font-variant-numeric: slashed-zero;
	Xfont-variant-numeric: lining-nums; /* <numeric-figure-values> */
	font-variant-numeric: oldstyle-nums; /* <numeric-figure-values> */
	Xfont-variant-numeric: proportional-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: tabular-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: diagonal-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: stacked-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: oldstyle-nums stacked-fractions;
}



/* SHELL */

.terminal.fancy {
	background:unset;
	background-image:url(/images/bg_grid3.jpg);   /******************************************************* GRID **/
	background-size:cover;
	background-size:auto 100%;
	background-position:center;
	transition:background-image 0.5s ease-in-out;
}
.terminal.fancy.connected { opacity:1; }
/*@media (min-width: 640px) {*/
@media (min-aspect-ratio: 4/3) {
    .terminal.fancy {
        background-size: 100% 100%;
    }
}
/* BEAM */
.terminal.fancy::after {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; Xz-index:1;
	background-color:#2220;
	background-image:url(/images/beam.png);   /*********************************************************** BEAM **/
	background-position:6px center;
	background-repeat:no-repeat;
	background-size:calc(96px / 2) calc(100% - 3.6rem);
	filter:hue-rotate(200deg) brightness(0.75) contrast(1.5);
}
.terminal.fancy.connected::after { filter:hue-rotate(0deg); }
.terminal.fancy output::before {
	--b:0.85;
	content:'';
	position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
	width:130px; height:125px;
	background-image:url(/images/bit_transparent.gif);   /************************************************* BIT **/
	filter:hue-rotate(180deg) brightness(var(--b));
}
.terminal.fancy > * { z-index:3; }
.terminal.fancy.connected output::before { filter:hue-rotate(  0deg) brightness(var(--b)); }
.terminal.fancy.yes       output::before { filter:hue-rotate(-90deg) brightness(0.9) contrast(2); }
.terminal.fancy.no        output::before { filter:hue-rotate(140deg) brightness(0.9) contrast(3); }
.terminal.fancy.yes output::after,
.terminal.fancy.no  output::after {
	content:'';
	position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:-1;
	width:200%; height:200%;
	border-radius:100%;
	background:#0000;
}
.terminal.fancy.yes output::after { background:radial-gradient(circle at center, #0f02, #0801 5%, #0000 10%); }
.terminal.fancy.no  output::after { background:radial-gradient(circle at center, #f003, #8002 5%, #0000 10%); }

.terminal output {
	margin-top:1em;
	color:var(--terminal-text-color);
	white-space:pre-wrap;
	Xoverflow-x:visible;
	overflow-y:scroll;
	Xscroll-behavior: smooth;   /* Firefox: Does not scroll properly on Shift+Enter */
}

.terminal pre { position:relative; padding-bottom:1em; white-space:pre-wrap; }
.terminal .separators pre { border:solid 1px #fff4; border-width:0 0 1px; padding-top:2px; padding-bottom:2px; }
.terminal .separators pre:nth-child(2n+1) { Xbackground:#fff4; }
.terminal .compress pre:hover { background:#fff4; cursor:pointer; }
.terminal .compress pre.expand:hover { background:unset; cursor:pointer; }
.terminal .compress.overflow pre { height:1em; line-height:1em; overflow-y:hidden; }
.terminal .compress.separators pre:hover { border-width:1px 0; margin-top:-1px; }
.terminal .compress pre { white-space:normal; Xoverflow:hidden; padding-top:0; padding-bottom:0; }
.terminal output.compress.last pre:last-child,/*//...*/
.terminal .compress pre.expand { white-space:pre-wrap; height:unset; overflow-y:unset; }

.terminal pre { display:none; }
.terminal .debug.cep       pre.cep,
.terminal .debug.string    pre.string,
.terminal .debug.notice    pre.notice,
.terminal .debug.broadcast pre.broadcast,
.terminal .debug.update    pre.update,
.terminal .debug.request   pre.request,
.terminal .debug.response  pre.response,
.terminal .chat pre.chat { display:block; }

.terminal pre.cep       { color:var(--terminal-cep-color)       }
.terminal pre.debug     { color:var(--terminal-debug-color)     }
.terminal pre.string    { color:var(--terminal-string-color)    }
.terminal pre.notice    { color:var(--terminal-notice-color)    }
.terminal pre.broadcast { color:var(--terminal-broadcast-color) }
.terminal pre.update    { color:var(--terminal-update-color)    }
.terminal pre.request   { color:var(--terminal-request-color)   }
.terminal pre.response  { color:var(--terminal-response-color)  }
.terminal pre.chat      { color:var(--terminal-chat-color)      }

.terminal.fancy :is(textarea, pre) { padding-left:50px; }
.terminal.fancy pre::before {
	content:'';
	position:absolute; left:7px; top:2px;
	width:21px; height:12px;
	outline:solid 1px #fff2; border-radius:100%;
	background:radial-gradient(ellipse at center, #fffc, #fff8 1px, #fff1 5px, #fff0 6px);
}
.terminal.fancy pre.expand::before {
	outline-color:#fff6; border-radius:100%;
	background:radial-gradient(ellipse at center, #ffff, #fffa 3px, #fff1 10px, #fff0 20px);
}

.terminal.fancy .debug pre.chat::before {
	content:'Msg'; line-height:12px; font-size:0.7em; text-align:center;
	outline:none; border-radius:3px; background:#0003;
}
.terminal.fancy .debug pre.chat.expand::before { background:#fff6; }

.terminal iframe { position:relative; width:calc(100% - 70px); margin-left:50px; }

.terminal code      { color:#fcb; }
.terminal .success  { color:#080; }
.terminal .warning  { color:#fc0; }
.terminal .error    { color:#f00; }
.terminal .true     { color:#6e3; }
.terminal .false    { color:#f31; }
.terminal .null     { color:#4ef; }/*
.terminal code.period   { color:#ccc; }
.terminal code.colon    { color:#ccc; }
.terminal code.semi     { color:#ccc; }
.terminal code.slash    { color:#ccc; }
.terminal code.curlyO   { color:#fff; }
.terminal code.bracketO { color:#eee; }
.terminal code.parensO  { color:#ccc; }
.terminal code.parensC  { color:#ddd; }
.terminal code.bracketC { color:#ccc; }
.terminal code.curlyC   { color:#bbb; }
*/


.terminal textarea {
	width:100%; border:none;
	background:transparent; color:var(--terminal-chat-color);
	resize:none;
	caret-shape:block;
	Xcaret-shape:bar;
	Xcaret-shape:unserscore;
	caret-color: #ff0;
}
X.terminal textarea:focus { caret-color:#f0f; }
.terminal textarea.request { color:var(--terminal-request-color); }
.terminal textarea.local { color:var(--terminal-request-color); }
.terminal textarea.local ::first-letter { color:#fff; }


/* ANIMATIONS */

/* Beam */
:not(.init).animate body::after {
	animation: BEAM 0.2s ease-in-out infinite;
}
.terminal.fancy.animate::after {
	animation: BEAM 0.2s ease-in-out infinite;
}
@keyframes BEAM {
	   0% { opacity:1.0; }
	  42% { opacity:0.98; }
	  86% { opacity:1.0; }
	  93% { opacity:0.9; }
	 100% { opacity:1.0; }
}

/* MCP */
X:not(.init) .animate.enabled.terminal::before {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-2;
	background-image: url(/images/mcp.jpg);
	background-size: cover;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	filter:contrast(1.5) brightness(0.5);
	animation: MCP_MOVE 30s linear infinite;
}
@keyframes MCP_MOVE {
	 00% { transform:scale(1.00) rotate( 0deg) }
	 11% { transform:scale(1.03) rotate( 1deg) }
	 22% { transform:scale(1.10) rotate( 0deg) }
	 33% { transform:scale(1.25) rotate(-2deg) }
	 50% { transform:scale(1.50) rotate( 0deg) }
	 66% { transform:scale(1.25) rotate( 2deg) }
	 77% { transform:scale(1.10) rotate( 0deg) }
	 88% { transform:scale(1.03) rotate(-1deg) }
	100% { transform:scale(1.00) rotate( 0deg) }
}

/* Background */
X:not(.init) .animate.enabled.terminal::after {
	animation: MCP_GLOW 360s linear infinite; /*grid3*/
}
@keyframes MCP_GLOW {
	  0% { opacity:1.0; }

	 25% { opacity:1.0; }
	 26% { opacity:0.85; }
	 43% { opacity:0.75; }
	 45% { opacity:1.0; }

	 50% { opacity:1.0; }
	 50.4% { opacity:0.0; }
	 52% { opacity:0.7; }
	 58% { opacity:1.0; }

	100% { opacity:1.0; }
}

/* Bit */
X:not(.init) .animate.enabled.terminal output::before {
	animation: BIT_GLOW 360s linear infinite; /*bit.gif*/
}
@keyframes BIT_GLOW {
	 00% { opacity:1; }

	 23% { opacity:1; }
	 24% { opacity:0; }
	 45% { opacity:0; }
	 46% { opacity:1; }

	 48% { opacity:1; }
	 49% { opacity:0; }
	 59% { opacity:0; }
	 60% { opacity:1; }

	100% { opacity:1; }
}


/*EOF*/
