/*** spielwiese.css ***/

html { font-size:21px; }
:root {
	color-scheme:light dark; /* both supported */

	--font-family          : crt;
	--terminal-font-family : crt;
	--NOBRACKETS_terminal-font-family : mode7;
	--DISABLED_terminal-font-family : seti;
	--DISABLED_terminal-font-family : crt;

	--page-width   : 64rem;
	--body-padding : max(1.5rem, calc((100vw - var(--page-width)) / 2));

	--text-color        : #000;
	--body-bg           : #f0f0f0;
	--body-border       : solid 0.25em #5d7860;
	--body-border-width : 0.35em 0;

	--bg-html      : #fff;
	--bg-header    : unset;
	--bg-main-menu : unset;
	--bg-path-menu : unset;
	--bg-article   : unset;
	--bg-footer    : var(--bg-main-menu);

	--a-color   : #444;
	--a-hover   : #000;
	--a-visited : #622;
	--a-active  : #008;
	--a-focus   : #00f;

	--header-padding-top : 1rem;
	--header-padding-btm : 0rem;
	--menu-padding   : 0rem;
	--footer-padding : var(--menu-padding) var(--body-padding) calc(var(--menu-padding) + 2rem);

	--input-color        : #000;
	--input-bg           : #fff;
	--input-border       : solid 1px #444;
	--input-border-width : 1px;
	--input-radius       : 0.2rem;

	--button-color        : #fff;
	--button-bg           : #333;
	--button-submit-color : #fff;
	--button-submit-bg    : #c50;

	--console-chat-color     : #fff;
	--console-request-color  : #ca0;
	--console-response-color : #78f;
	--console-notice-color   : #48f;
	--console-warning-color  : #fc0;
	--console-error-color    : #e20;
	--console-success-color  : #0f0;
	--console-cep-color      : #cc0;
	--console-mcp-color      : var(--console-response-color);

	--console-input-color      : var(--console-request-color);
	--console-separator-color  : #a60;
	--console-separator-border : none;X:dashed 1px var(--console-separator-color);

	--Xrequest-hover-background  : #210;
	--request-hover-color       : #af0;
	--Xresponse-hover-background : #123;
	--response-hover-color      : #0af;

	--console-line-height: 1rem;
	--tab-size: 4;
	--input-tab-size: 8; X:var(--tab-size);

	--terminal-padding: 0.5em;
}


body.dark_mode {
	--text-color        : #ffe;

	--body-bg           : #232;
	--body-border       : solid 0.25em #5d7860;
	--body-border-width : 0.35em 0;

	--bg-html      : #222;
	--bg-header    : #454;
	--bg-main-menu : #343;
	--bg-path-menu : #343;
	--bg-footer    : var(--bg-main-menu);

	--a-color  : #af8;
	--a-hover  : #eff;
	--a-active : #eef;
	--a-focus  : #caf;

	--header-padding-top : 0.5rem;
	--header-padding-btm : 0.5rem;
	--menu-padding       : 0.5rem;
	--footer-padding     : var(--menu-padding) var(--body-padding);

	--input-color       : #000;
	--input-bg          : #fff;
	--input-border      : unset;X:solid var(--input-border-width) var(--text-color);
	--input-radius      : 0.2em;

	--button-color      : #fff;
	--button-bg         : #383;
}


/* FONTS */

@font-face {
	font-family: 'terminal';
	src: url('/fonts/WhiteRabbit.woff')  format('woff');
	src: url('/fonts/WhiteRabbit.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'mode7';
	src: url('/fonts/ModeSeven.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'seti';
	src: url('/fonts/SETIPERU.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'crt';
	src: url('/fonts/DIGIT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gothic';
	src: url('/fonts/gothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'fa-regular';
	src: url('/fonts/fa-regular-400.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'fa-brands';
	src: url('/fonts/fa-brands-400.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'fa-solid';
	src: url('/fonts/fa-solid-900.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* PAGE LAYOUT */

* { margin:0; padding:0; box-sizing:border-box; font-size:1rem; }

html, body { width:100%; height:100%; }
:not(.init) body {
	background: #000 url(/images/bg_grid.jpg);
	Xbackground-size:calc(100% / 3) calc(100% / 3);
	Xbackground-size:cover;
	background-size:100% 100%;
}
:not(.init) body::after {
	content:'-Screen locked-'; color:#fc0; text-transform:uppercase;
	position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
	display:flex; align-items:center; Xjustify-content:center;
	height:100%; width:calc(100% - 1em);
	padding-left:1em;
	background: url(/images/tron_poster.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:auto 100%;
}
X:not(.init) body::before {
	content:'';
	position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
	display:flex; align-items:center; justify-content:center;
	height:100%; width:100%;
	padding-left:1em;
	background: url(/images/bit_trans.gif);
	background-position:center;
	background-repeat:no-repeat;
}

:focus { outline:none; }

a        { color:var(--a-color); text-decoration:none; }
a:hover  { color:var(--a-hover); text-decoration:underline; }
a:active { color:var(--a-active); }
a:focus  { color:var(--a-focus); }

h1 { font-size:1.35em; }
h2 { font-size:1.1em; }

input {
	border:var(--input-border);
	border-radius:var(--input-radius);
	background:var(--input-bg); color:var(--input-color);
	padding:0.25em 0.35em;
}
input:focus {
	outline:none;
	border-width:1px;
}

button {
	border:var(--input-border);
	border-radius:0.25em;
	background: var(--button-bg); color:var(--button-color);
	padding:0.25em 0.0025em;
	white-space:nowrap;
}
button.submit { background: var(--button-submit-bg); color:var(--button-submit-color); }

footer { display:none; }


/* DEBUG CONSOLE */

body,
::before, ::after,
textarea, code,
.terminal button,
.terminal span,
.terminal .input,
.terminal .output pre {
	font-family:var(--terminal-font-family); font-size:1rem; line-height:var(--console-line-height);
	tab-size:var(--tab-size);
	text-shadow:
		 1px  0px #0008,
		-1px  0px #0008,
		 0px  1px #0008,
		 0px -1px #0008
	;
}
body { text-shadow:none; }

.terminal {
	position:absolute; bottom:0; left:0; z-index:999;
	display:grid; grid-template-rows:auto 1fr min-content;
	width:100%; height:0%;
	padding:0;
	overflow:hidden;
	background:#003;
	Xtransition:height 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}
.terminal.active { height:100%; padding:var(--terminal-padding); }
.terminal.active :is(header, footer) { display:none; }
.terminal::after {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-2;
	background: #000 url(/images/bg_grid3.jpg);
	background-size: cover;
	background-size: 100% 100%;
	background-position: center;
}


.terminal .output::before {
	content:'';
	position:absolute; top:50%; left:50%; transform:translate(-50%,-53%); z-index:-1;
	width:320px; height:240px;
	background-image:url(/images/bit.gif);
	box-shadow:inset 0 0 0 20px #000;
}
.terminal .output {
	padding-bottom:0.1em;
	overflow-y:hidden;
	white-space:pre-wrap;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	Xscroll-behavior: smooth;
}
.terminal.overflow .output { overflow-y:hidden; }

.terminal .output pre { padding-bottom:1em; }
.terminal .separators pre {
	border-bottom:var(--console-separator-border);
	padding-top:0.25em; padding-bottom:0.25em;
}

.terminal pre.request  { color:var(--console-request-color)  ; white-space:pre-wrap; }
.terminal pre.response { color:var(--console-response-color) ; white-space:pre-wrap; }
.terminal pre.success  { color:var(--console-success-color)  ; }
.terminal pre.failure  { color:var(--console-error-color)    ; }
.terminal pre.cep      { color:var(--console-cep-color)      ; }
.terminal pre.mcp      { color:var(--console-mcp-color)      ; }

.terminal .output.compressed pre.response { white-space:pre-wrap; }
.terminal .output.compressed pre.request { white-space:normal; }
.terminal .output.compressed pre.request div { display:inline-block; margin-right:0.45em; }


X.terminal pre.request:hover  { background:var(--request-hover-background)  ; color:var(--request-hover-color)  ; }
X.terminal pre.response:hover { background:var(--response-hover-background) ; color:var(--response-hover-color) ; }
X.terminal pre.mcp:hover      { color:#f00; }



X.terminal .prompt { display:grid; grid-template-columns:min-content 1fr; }
X.terminal .prompt.disabled { display:none; }

.terminal .input  {
	width:100%; border:none; padding:0em;
	background:transparent; color:var(--console-chat-color);
	resize:none;
	caret-shape:block;
	Xcaret-shape:bar;
	Xcaret-shape:unserscore;
	caret-color: #ff0;
}
.terminal .input.request { color:var(--console-input-color); }


.terminal .controls {
	display:inline-flex;
	flex-grow:1;
	flex-wrap:wrap;
	Xflex-direction:row-reverse;
	align-items:center; justify-content:center;
	width:100%;
	Xpadding:0.3em 0.5 0.2em;
	background:#fff2;
	border-radius:5px;
}

.terminal .buttons {}
.terminal .status { flex-grow:1; text-align:right; color:#fff; }

.terminal .status .time {
	Xfont-variant-numeric: normal;
	Xfont-variant-numeric: ordinal;
	font-variant-numeric: slashed-zero;
	Xfont-variant-numeric: lining-nums; /* <numeric-figure-values> */
	font-variant-numeric: oldstyle-nums; /* <numeric-figure-values> */
	Xfont-variant-numeric: proportional-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: tabular-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: diagonal-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: stacked-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: oldstyle-nums stacked-fractions;
}


.terminal :is(span, button) { margin:2px 1px; padding:0.1em 0.5em; border:none; vertical-align:middle; }
.terminal button:hover { filter:brightness(1.5); }


.terminal code      { color:#fcb; }
.terminal .success  { color:#080; }
.terminal .warning  { color:#fc0; }
.terminal .error    { color:#f00; }
.terminal .true     { color:#6e3; }
.terminal .false    { color:#f31; }
.terminal .null     { color:#4ef; }/*
.terminal code.period   { color:#ccc; }
.terminal code.colon    { color:#ccc; }
.terminal code.semi     { color:#ccc; }
.terminal code.slash    { color:#ccc; }
.terminal code.curlyO   { color:#fff; }
.terminal code.bracketO { color:#eee; }
.terminal code.parensO  { color:#ccc; }
.terminal code.parensC  { color:#ddd; }
.terminal code.bracketC { color:#ccc; }
.terminal code.curlyC   { color:#bbb; }
*/


/* ANIMATIONS */

/* Beam */
:not(.init).animated body::after {
	animation: BEAM 0.01s ease-in-out infinite;
}
@keyframes BEAM {
	   0% { opacity:1.0; }
	  86% { opacity:1.0; }
	  93% { opacity:0.7; }
	 100% { opacity:1.0; }
}

/* Background */
:not(.init).animated .terminal::after {
	animation: MCP_GLOW 180s linear infinite;
}
@keyframes MCP_GLOW {
	 00% { opacity:1.0; }
	 55% { opacity:0.9; }
	 56% { opacity:0.0; }
	 58% { opacity:0.8; }
	 60% { opacity:1.0; }
	100% { opacity:1.0; }
}

/* Bit */
:not(.init).animated .terminal .output::before {
	animation: BIT_GLOW 180s linear infinite;
}
@keyframes BIT_GLOW {
	 00% { opacity:1; }
	 19% { opacity:1; }
	 20% { opacity:0; }
	 60% { opacity:0; }
	 61% { opacity:1; }
	100% { opacity:1; }
}

/* Line wobble */
X:not(.init).animated .terminal .output { padding-left:0.5em; }
:not(.init).animated .terminal .output * > * {
	transform-origin: left;
	Xanimation: LINES 57s ease infinite;
}
@keyframes LINES {
	 00% { transform:scale(0.99) rotate( 0.1deg); }
	 50% { transform:scale(1.01) rotate(-0.1deg); }
	100% { transform:scale(0.99) rotate( 0.1deg); }
}

/* MCP */
:not(.init).animated .active.terminal::before {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-2;
	background-image: url(/images/mcp.jpg);
	background-size: cover;
	background-size: calc(864px / 100vh);
	background-repeat: no-repeat;
	background-position: center;
	filter:contrast(1.5) brightness(0.5);
	animation: MCP_MOVE 30s linear infinite;
}
@keyframes MCP_MOVE {
	 00% { transform:scale(1.00) rotate( 0deg) }
	 11% { transform:scale(1.03) rotate( 1deg) }
	 22% { transform:scale(1.10) rotate( 0deg) }
	 33% { transform:scale(1.25) rotate(-2deg) }
	 50% { transform:scale(1.50) rotate( 0deg) }
	 66% { transform:scale(1.25) rotate( 2deg) }
	 77% { transform:scale(1.10) rotate( 0deg) }
	 88% { transform:scale(1.03) rotate(-1deg) }
	100% { transform:scale(1.00) rotate( 0deg) }
}


/*EOF*/






/*
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-size: 300% 300%;
	background-color:#000;
	Xbackground-image: linear-gradient(
		45deg,
		rgba(  0,  0,255,1) 0%,
		rgba(255,  0,  0,1) 100%
	);

	animation: HTML 30s ease infinite;
	overflow: hidden;
*/




/*
html { background:var(--bg-html); }
body {
	display:grid;
	grid-template-areas:
		"ga-header  ga-header"
		"ga-path-menu ga-main-menu"
		"ga-article ga-article"
		"ga-footer ga-footer"
	;
	grid-template-rows:min-content min-content auto min-content;
	Xgrid-template-columns:auto auto;
	Xmax-width:60em;
	min-height:100vh;
	Xborder:var(--border-bg); border-width:var(--body-border-width);
	margin:0 auto;
	font-family:var(--font-family);
	background:var(--body-bg); color:var(--text-color);
	line-height:1.5;
}
header     { grid-area:ga-header;    padding:0 var(--body-padding); }
.main_menu { grid-area:ga-main-menu; padding:0 var(--body-padding) 0 0; }
.path_menu { grid-area:ga-path-menu; padding:0 0 0 var(--body-padding); }
article    { grid-area:ga-article;   padding:0 var(--body-padding); }
footer     { grid-area:ga-footer;    padding:0 var(--body-padding); }

header { background:var(--bg-header); padding-top:var(--header-padding-top); padding-bottom:var(--header-padding-btm); }
.debug header { padding-top:0.5em; }
header > * { display:inline; }
header img { height:2em; }
.init header img { height:unset; }
header small { font-weight:normal; font-size:0.85em; }

nav { font-size:0; }
nav { padding-top:var(--menu-padding); padding-bottom:var(--menu-padding); }
nav a { font-size:1rem; }

nav.main_menu,
nav.path_menu { padding-top:var(--menu-padding); padding-bottom:var(--menu-padding); }

nav.main_menu { background:var(--bg-main-menu); text-align:right; }
nav.main_menu a { margin-left:1.5em; white-space:nowrap; }

nav.path_menu { background:var(--bg-path-menu); }
nav.path_menu a::after { display:inline-block; content:'>'; margin:0 0.5em; color:var(--text-color); text-decoration:none; }
nav.path_menu a:last-child::after { display:none; }

article { background:var(--bg-article); padding-top:3rem; padding-bottom:5rem; }

a        { color:var(--a-color); text-decoration:none; }
a:hover  { color:var(--a-hover); text-decoration:underline; }
a:active { color:var(--a-active); }
a:focus  { color:var(--a-focus); }

h1 { font-size:1.35em; }
h2 { font-size:1.1em; }

footer { background:var(--bg-footer); text-align:center; padding:var(--footer-padding); }
.debug footer { padding-bottom:0.25rem; }

footer span::after { content: ' - '; }
footer span:last-child::after { display:none; }
*/
