/*** spielwiese.css ***/

:root {
	Xscroll-behavior:smooth;   /* Firefox: Does not scroll properly on Shift+Enter */
	color-scheme:light dark;   /* both supported //...SODD */
}

/*** FONTS ***/
.terminal {
	/* See DebugConsole.setFont() */
	--font-family : var(--font0);
	--font0 : 'WhiteRabbit';
	--font1 : 'ProFontWindows';
	--font2 : 'ModeSeven';
	--font3 : 'Terminus';
	--font4 : 'DIGIT';
	--font5 : 'BitstreamVeraSansMono';
	--font6 : 'FiraCode';
	--font7 : 'DroidSansMono';
	--font8 : 'saxMono';
	--font9 : 'monospace,monospace';

	--string-font-family: WhiteRabbit;  /*//...special font to prevent weird glyphs ??*/

	Xtext-transform: full-width;
}

.terminal.font0 { --font-family : var(--font0); }
.terminal.font1 { --font-family : var(--font1); }
.terminal.font2 { --font-family : var(--font2); }
.terminal.font3 { --font-family : var(--font3); }
.terminal.font4 { --font-family : var(--font4); }
.terminal.font5 { --font-family : var(--font5); }
.terminal.font6 { --font-family : var(--font6); }
.terminal.font7 { --font-family : var(--font7); }
.terminal.font8 { --font-family : var(--font8); }
.terminal.font9 { --font-family : var(--font9); }

@font-face {
	font-family: 'Terminus';
	src: url('/fonts/TerminusTTF.woff')  format('woff');
	src: url('/fonts/TerminusTTF.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'WhiteRabbit';
	src: url('/fonts/WhiteRabbit.woff')  format('woff');
	src: url('/fonts/WhiteRabbit.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ModeSeven';
	src: url('/fonts/ModeSeven.woff')  format('woff');
	src: url('/fonts/ModeSeven.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIGIT';
	src: url('/fonts/DIGIT.woff')  format('woff');
	src: url('/fonts/DIGIT.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'VeraSansMono';
	src: url('/fonts/BitstreamVeraSansMono-Roman.woff')  format('woff');
	src: url('/fonts/BitstreamVeraSansMono-Roman.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FiraCode';
	src: url('/fonts/FiraCode-Regular.woff')  format('woff');
	src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DroidSansMono';
	src: url('/fonts/DroidSansMono.woff')  format('woff');
	src: url('/fonts/DroidSansMono.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProFontWindows';
	src: url('/fonts/ProFontWindows.woff')  format('woff');
	src: url('/fonts/ProFontWindows.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'saxMono';
	src: url('/fonts/saxMono.woff')  format('woff');
	src: url('/fonts/saxMono.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


/*** MAIN LAYOUT ***/

/* Required for the bit to fade into the distance on terminal toggle */
NotInUse.terminal { opacity:0; transition:all 0.5s linear; display:grid !important; }
NotInUse.terminal.enabled { opacity:1; }

/* TERMINAL */
.loading.enabled.terminal { display:none; }
.enabled.terminal { display:grid; }
.terminal {
	display:none;
	position:absolute; top:0; left:0; z-index:999; transform:unset;
	grid-template-rows:min-content auto min-content;
	grid-template-areas:"r0" "r1" "r2";
	width:100%; height:100%; Xoverflow:hidden;
	padding:var(--terminal-margin); font-size:var(--font-size); background:var(--terminal-bg);
	--scrollbar-thumb-color:#08f4; --scrollbar-track-color:#0660;
	scrollbar-color:var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}
.terminal ::-webkit-scrollbar { opacity:1; width:9px; height:9px; }
.terminal ::-webkit-scrollbar-thumb { background:var(--scrollbar-thumb-color); }
.terminal ::-webkit-scrollbar-track { background:var(--scrollbar-track-color); }
.terminal header { grid-area:r0; position:relative; }
.terminal main   { grid-area:r1; position:relative; width:100%; max-height:100%; overflow:hidden; }
.terminal footer { grid-area:r2; }
.terminal .shell { display:grid; grid-template-areas:"m0" "m1"; grid-template-rows:auto 1fr; }
.terminal .shell output   { grid-area:m0; }
.terminal .shell textarea { grid-area:m1; }
.terminal ::selection {
	color:#fff;
	background:#06c8;
}
.terminal * {
	font-family:var(--font-family); font-size:var(--font-size); line-height:var(--line-height);
	tab-size:var(--tab-size);
}
/* Menus */
.terminal .items { --sub-offset-x:0px; }
.terminal .node       .items { width:8em; } /* Top left, showing Node name */
.terminal .clear      .items { width:6em; } /* Clear button menu */
.terminal .connection .items { width:17em; }
.terminal .auth       .items { width:var(--menu-enter-width); }
.terminal .main       .items { width:calc(var(--menu-enter-width) - 4em); }
.terminal .toggles    .items { width:calc(var(--menu-enter-width) - 4em); --sub-offset-x:2em; }
.terminal .filter     .items { width:calc(var(--menu-enter-width) - 4em); --sub-offset-x:2em; }
.terminal .main             .items button { min-width:4em; }
.terminal .toggles          .items button { flex-basis:40%; }
.terminal .filter           .items button { flex-basis:6rem; ; min-width:6em; }
.terminal .toolbar > nav:first-child .items { left:0; right:unset; }   /* Left/right */

@media (min-width:65rem) {
	:not(.fancy).terminal {
		grid-template-rows:1fr min-content;
		grid-template-columns:10em 1fr;
		grid-template-areas:"r0 r1" "r2 r1";
	}
	:not(.fancy).terminal .toolbar                { flex-direction:column; flex-wrap:nowrap; }
	:not(.fancy).terminal .list.who               { flex-grow:0; flex-wrap:wrap; }
	:not(.fancy).terminal footer.toolbar          { flex-wrap:wrap-reverse; flex-direction:row; }
	:not(.fancy).terminal footer.toolbar > nav    { flex-basis:calc(50% - var(--menu-gap)); flex-grow:1 }
	:not(.fancy).terminal .toolbar > nav > button { flex-basis:100%; }
	:not(.fancy).terminal nav.auth:is(:hover,:focus,:focue-within) form {
		top:var(--toolbar-height); left:0;
	}
	:not(.fancy).terminal footer.toolbar > :nth-child(1) { order:3; }
	:not(.fancy).terminal footer.toolbar > :nth-child(2) { order:5; }
	:not(.fancy).terminal footer.toolbar > :nth-child(3) { order:4; }
	:not(.fancy).terminal footer.toolbar > :nth-child(4) { order:2; }
	:not(.fancy).terminal footer.toolbar > :nth-child(5) { order:1; }

	:not(.fancy).terminal footer.toolbar > :nth-child(1) > button { display:none; }

	:not(.fancy).terminal .toolbar > nav:last-child .items { left:0; right:unset; }   /* Left/right */

	:not(.fancy).terminal nav.auth form.items { left:100%; top:0; }

	:not(.fancy).terminal header { min-height:0; }

	:not(.fancy).terminal footer.toolbar > nav { position:unset; flex-basis:100%; }
	:not(.fancy).terminal footer.toolbar > nav.main .items { left:100%; bottom:calc(-1 * var(--menu-gap)); }
	:not(.fancy).terminal .main .items > button { flex-basis:40%; }

	:not(.fancy).terminal footer.toolbar nav.connection { position:unset; display:flex; flex-direction:row; }
	:not(.fancy).terminal footer.toolbar nav.connection > button { height:unset; }
	:not(.fancy).terminal footer.toolbar nav.connection > .items {
		display:flex; flex-wrap:nowrap; flex-direction:column-reverse; flex-basis:100%;
		width:unset; position:unset; padding:0; margin:0; gap:var(--menu-gap);
	}
	:not(.fancy).terminal footer.toolbar nav.connection .items > * { width:100%; }
	:not(.fancy).terminal footer.toolbar nav.connection > .items > nav {
		display:flex; flex-direction:column;
		padding:0; margin:0;
	}
	:not(.fancy).terminal footer.toolbar nav.connection > .items .items { left:100%; bottom:0; }

	:not(.fancy).terminal footer.toolbar nav.status { Xjustify-content:start; }
	X:not(.fancy).terminal footer.toolbar nav.status :first-child { order:2; }
	:not(.fancy).terminal        .toolbar nav.status { flex-wrap:wrap; flex-grow:0; justify-content:end; }

	:not(.fancy).terminal footer.toolbar nav.toggle_state { justify-content:center; }
	:not(.fancy).terminal footer.toolbar nav.toggle_state :first-child { order:2; }
	:not(.fancy).terminal       .toolbar nav.toggle_state { flex-wrap:wrap; flex-grow:0; justify-content:end; }
}


/*** TOOLBAR ***/

.terminal .enabled.toolbar {
	height:unset;
}
.fancy.terminal .toolbar { height:2rem; Xoverflow:hidden;box-shadow:var(--toolbar-box-shadow); }
.terminal .toolbar {
	display:flex; gap:var(--menu-gap);
	position:relative;
	outline:var(--toolbar-outline);
	border-radius:var(--input-radius);
	background:var(--toolbar-bg);
	color:var(--toolbar-color);
	box-shadow:var(--menu-box-shadow);
}


/*** TOOLBAR ENTRY / MENU ***/

.terminal .toolbar nav { display:flex; flex-wrap:wrap-reverse; gap:var(--toolbar-gap); }
.terminal .toolbar > nav { position:relative; }

.terminal .toolbar nav > .items { display:none; }
:not(.connected).terminal .send .items,   /*//...? What else not to show? */
.terminal .toolbar nav:is(:hover,:focus,:focus-within) > .items {/*//...Replace :is() with only :focus, when done */
	display:flex;
	flex-wrap:wrap; align-items:center; justify-content:center; gap:var(--menu-gap);
	position:absolute; top:100%;X:calc(100% + var(--menu-offset)); right:var(--sub-offset-x); z-index:999;
	box-sizing:content-box;
	border-radius:var(--top-menu-radius);
	padding:var(--menu-gap);
	background:var(--toolbar-bg);
}
.terminal footer.toolbar > nav:is(:hover,:focus,:focus-within) .items {
	top:unset; bottom:100%; X:calc(100% + var(--menu-offset));
	border-radius:var(--bottom-menu-radius);
}
X.terminal .toolbar nav:is(:hover,:focus,:focus-within) .items { box-shadow:inset 0 0 0 1px #fff0; }
.terminal .toolbar > nav:is(:hover,:focus,:focus-within) nav .items { color:#80fc; padding-bottom:0; }
.terminal .toolbar > nav:is(:hover,:focus,:focus-within) nav .items .close { color:var(--button-color); }

/* SUB MENU */
.terminal .toolbar > nav .items > * { flex-grow:1; Xmin-width:6em; }
.terminal .toolbar > nav nav {
	--g:var(--menu-gap);
	padding:var(--g); margin:calc(-1 * var(--g));
}
.terminal .toolbar nav nav:hover  { z-index:199; }
.terminal .toolbar nav nav > button  { width:100%; } /* 3 buttons, each fill their "cell"?? somehow with this */

/* OUTPUT */
.terminal output {
	margin:var(--output-margin-top) var(--output-margin-x) 0;
	padding:0 calc(var(--output-padding-x));
	color:var(--text-color);
	white-space:pre-wrap;
	overflow-y:scroll;
	Xscroll-behavior: smooth;   /* Firefox: Does not scroll properly on Shift+Enter */
}
.fancy.terminal output { margin:1em 0 0; }

/* Striped background */
:not(.fancy).terminal output.stripes {
	--s:calc(2 * var(--line-height));
	--b0:var(--stripes-color0);
	--b1:var(--stripes-color1);
	background-image:linear-gradient(
		var(--b0) 0%,
		var(--b0) 49%,
		var(--b1) 50%,
		var(--b1) 100%
	);
	background-position:0 var(--output-padding-top);
	background-repeat:repeat-y;
	background-size:100% var(--s);
	background-attachment:local;
}

/* PROMPT */
.terminal textarea {
	width:100%; border:none;
	background:transparent; color:var(--textarea-color);
	margin:0 calc(var(--output-padding-x) + var(--output-margin-x));
	resize:none;
	caret-shape:block;
	Xcaret-shape:bar;
	Xcaret-shape:unserscore;
	caret-color:var(--caret-color);
}
X.terminal textarea:focus { caret-color:#f0f; }
.terminal textarea.request { color:var(--request-color); }
.terminal textarea.cep     { color:var(--request-color); }
.terminal textarea.local   { color:var(--request-color); }
.terminal textarea.local ::first-letter { color:#fff; }


/*** INPUTS ***/

/* BUTTONS */
.fancy.terminal :is(input, button, span, code, ::before, ::after, textarea, output pre, a, b) {
	text-shadow:
		1px  0 #0004,
		-1px 0 #0004,
		0 1px  #0004,
		0 -1px #0004,

		2px  0 #0008,
		-2px 0 #0008,
		0 2px  #0008,
		0 -2px #0008
	;
}

/* FORM INPUT */
	:is(input,button) { border:none; }
.terminal input {
	height        : var(--toolbar-height);
	border        : var(--input-border  );
	border-radius : var(--input-radius  );
	padding       : var(--input-padding-y) var(--input-padding-x);
	background    : var(--input-bg      );
	color         : var(--input-color   );
}
.terminal button {
	border        : var(--input-border  );
	border-radius : var(--input-radius  );
	padding       : var(--button-padding);
	background    : var(--button-bg     );
	color         : var(--button-color  );
	white-space:nowrap;
}
.fancy.terminal button {
	box-shadow:
		inset -0px -0px 0px 1px #0006,
		inset  1px  1px 0px 1px #fff2
	;
}
.terminal :is(input,button):is(:hover,:focus) {
	filter:var(--focus-filter);
	box-shadow:inset 0 0 0 1px var(--focus-box-shadow);
}

.terminal button.blink.success { color:var(--success-color); }
.terminal button.blink { animation: TOGGLE 0.2s linear 1; }
@keyframes TOGGLE {
	 0% { filter:brightness(2) contrast(1); }
	11% { filter:brightness(1) contrast(2); }
	22% { filter:brightness(2) contrast(1); }
	33% { filter:brightness(1) contrast(2); }
	44% { filter:brightness(2) contrast(1); }
	55% { filter:brightness(1) contrast(2); }
	66% { filter:brightness(2) contrast(1); }
}

/* SPECIAL COLOR */
.terminal button.ssnStat,
.terminal button.clear,
.terminal button.btnHelp,
.terminal button.bit,
.terminal button.token,
.terminal button.login,
.terminal button.logout,
.terminal button.connect,
.terminal button.disconnect {
	color: var(--button-special-color);
	background:var(--button-special-bg);
}
.terminal button.enter   { background:var(--button-enter-bg  ); color:var(--button-enter-color  ); }
.terminal button.close   { background:var(--button-close-bg  ); color:var(--button-close-color  ); }

.terminal .toolbar button.enabled { background:var(--button-enabled-bg); color:var(--button-enabled-color); }

.terminal:is(.ping,.transmit) .toolbar :is(.node,.connection) > button { background:var(--transmit-bg); }
.fancy.terminal nav.connection::before {
	content:''; display:none;
}


/*** TOOLBAR GADGETS ***/

.terminal .toolbar > nav:not(.who) > button { height: 100%; }

/* LIST */
.terminal .list { display:flex; align-items:center; }
.terminal .list button:last-child { margin-right:0; }
/* Self */
.terminal .list button.self { display:none; }
.terminal .list button.self { display:block; color:var(--self-color); }
.terminal .list button.self::before {
	content:var(--self-content);
	display:inline-block;
	vertical-align:top;
	font-size:0.75em;
	height:1em;
	padding-right:0.35em;
	text-shadow:
		1px  0 #fff8,
		-1px 0 #fff8,
		0 1px  #fff8,
		0 -1px #fff8
	;
}


/* Who */
X.fancy.terminal .list.who::before {
	content:'⟷';
	color:#023;
	font-weight:bold;
	filter:drop-shadow(0 0 2px #cef);
}
.terminal .toolbar .who { flex-direction:row-reverse; flex-grow:1; }
.fancy.terminal .toolbar .who button { border-radius:var(--user-radius); Xpadding-right:1em; }
.fancy.terminal .toolbar .who button.room { border-radius:0 var(--input-radius) var(--input-radius) 0; }
.fancy.terminal .toolbar .who button:last-child {
	border-radius:var(--input-radius) 0 0 var(--input-radius); Xpadding-left:1em;
}


/* Connection */
.terminal .node       > button,
.terminal .connection > button,
.terminal .connection.warning {
	background:var(--offline-bg); color:var(--offline-color);
	transition:color 0.2s linear;
}
.connected.terminal .node       > button,
.connected.terminal .connection > button,
.connected.terminal .connection.warning {
	background:var(--online-bg); color:var(--online-color);
}
.authenticated.terminal .node       > button,
.authenticated.terminal .connection > button,
.authenticated.terminal .connection button.warning {
	color:var(--authenticated-color);
}
.fancy.connected.terminal .connection > button,
.fancy.connected.terminal .node > button {
	box-shadow:0 0 10px 0 var(--online-color);
}
.fancy.connected.terminal .node       > button,
.fancy.connected.terminal .connection > button,
.fancy.connected.terminal .connection.warning {
	border:solid 1px var(--online-color);
}


/* Status */
.terminal nav.status {
	flex-grow:1; justify-content:center;
	position:relative; padding-left:var(--menu-gap); cursor:pointer; align-self:center;
	Xoverflow:hidden;
}
.terminal nav.status > span:not(.fade):first-child { opacity:1; }
.terminal nav.status > span.fade { opacity:0; }
.terminal nav.status > span:first-child { position:relative; z-index:1; }
.terminal nav.status > span {
	position:absolute; opacity:0;
	text-align:center;
}
.terminal .toolbar nav.status > * {
	white-space:normal;
	Xline-height:0.8em;
}
.fancy.terminal nav.status > span:not(.fade):first-child { transform:scale(1); }
.fancy.terminal nav.status > span.fade { transform:scale(0); transition:all var(--fade-time) ease-in-out; }
.fancy.terminal nav.status > span { transform:scale(0); transition:all var(--fade-time) ease-in-out; }

.terminal .status a { Xfont-family:sans-serif; Xfont-size:0.8em; line-height:0.8em; text-decoration:none; }
.terminal .status a:hover { color:var(--a-hover); text-decoration:underline; }
:not(.fancy).terminal .status span { padding:0 var(--menu-gap); }

@media (max-width: 65rem) {
	X.terminal nav.status > span { max-height:var(--toolbar-height); }
}
@media (min-width: 65rem) {
	:not(.fancy).terminal nav.status > * > * {
		Xfont-size:0.8em;
	}
}
X.fancy.terminal nav.status > span { max-height:var(--toolbar-height); }


/* Toggle state */
.terminal .list.toggle_state {
	flex-grow:0; flex-direction:column-reverse; align-self:center; justify-content:end;
	position:relative; Xtop:/*//...*/-2px; cursor:pointer;
}
.terminal .toolbar .toggle_state > span { display:block; letter-spacing:1px; color:var(--toggle-state-off); }
.terminal .list b { color:var(--toggle-state-on); font-weight:normal; }
.fancy.terminal .toolbar .toggle_state * {
	line-height:0.6em; font-size:0.9em;
}
@media (min-width: 65rem) {
	:not(.fancy).terminal .status > :first-child { padding:0.5rem 0; border-top:solid 1px #8886; }
	:not(.fancy).terminal .toggle_state { padding:0.25rem 0; border-top:solid 1px #8886; }
	:not(.fancy).terminal{}
}
@media (max-width: 65rem) {
	.terminal .toolbar .toggle_state * { line-height:0.8em; }
	.terminal .list.toggle_state { align-items:end; }
}
@media (max-width: 50rem) {
	.terminal .list.toggle_state { display:none; }
}


/*** OUTPUT PRE ***/

.terminal a         { color:var(--a-color   ); text-decoration:underline; }
.terminal a:visited { color:var(--a-visited ); }
.terminal a:active  { color:var(--a-active  ); }
.terminal a:focus   { color:var(--a-focus   ); }
.terminal a:hover   { color:var(--a-hover   ); }

/* PRE */
.terminal pre.cep       { color:var(--cep-color);       }
.terminal pre.string    { color:var(--string-color);    Xfont-family:var(--string-font-family); }
.terminal pre.notice    { color:var(--notice-color);    }
.terminal pre.broadcast { color:var(--broadcast-color); }
.terminal pre.update    { color:var(--update-color);    }
.terminal pre.request   { color:var(--request-color);   }
.terminal pre.response  { color:var(--response-color);  }
.terminal pre.chat      { color:var(--chat-color);      }
.terminal pre.error     { color:var(--error-color);     }

.terminal pre { display:block; }
.terminal .cep       pre.cep,
.terminal .string    pre.string,
.terminal .notice    pre.notice,
.terminal .broadcast pre.broadcast,
.terminal .update    pre.update,
.terminal .request   pre.request,
.terminal .response  pre.response { display:none; }

.terminal pre .todo { font-weight:bold; color:var(--todo-color);: }
.terminal pre .todo.important { color:var(--todo-important-color); }
.terminal pre .todo.urgent    { color:var(--todo-urgent-color   ); }
.terminal pre .todo.research  { color:var(--todo-research-color ); }
.terminal pre .todo.cancelled { color:var(--todo-cancelled-color); }

/* EXPAND */
.terminal pre { position:relative; z-index:10; Xwhite-space:pre-wrap; }
.terminal .separators pre { margin:0 0 var(--line-height); }
X.fancy.terminal .separators pre { margin:0 0 calc(0.25 * var(--line-height)); }
.terminal output pre:hover { color:var(--hover-color); cursor:pointer; }

X.terminal .compact.overflow.last pre:last-child,
.terminal :not(.compact).overflow pre.unexpand,
.terminal .compact.overflow pre {
	height:var(--line-height); overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}

.terminal output.compact pre.unexpand:last-child,
.terminal :not(.compact) pre.unexpand,
.terminal .compact pre {
	white-space:normal;
}

/* LAST */
.terminal output[class]:not(.compact) pre.unexpand { margin-bottom:var(--line-height); }

.terminal output.compact.last pre:last-child,/*//...*/
.terminal output.compact pre.expand {
	white-space:pre-wrap; height:unset; overflow:unset;
}

/* MARKER */
.terminal output:not(.overflow) pre.mark { position:relative; margin-bottom:-0.7em; }
.terminal pre.mark { position:relative; display:block; overflow:hidden; }
.terminal pre.mark::after {
	content:'';
	display:block; position:absolute; z-index:-1;
	top:7px; left:calc(var(--terminal-margin) + 10px);
	bottom:unset;
	width:calc(100% + 0 * 35px - 1 * 25px);
	Xheight:var(--line-height);
	Xtransform:translate(-35.5px, 7px);
	Xmargin-right:-50px;
	outline:none;
	border:solid 1px #09f8; border-width:1px 0 0;
	Xmargin-bottom:6.5px;
	Xcolor:transparent;
}

/* iframe */
.terminal .expand iframe { display:none; }
.terminal iframe {
	--p:5px; --c:#48f8;
	box-sizing:content-box;
	position:relative; Xz-index:-1;
	width:calc(100% - 3 * var(--p) - 10px);
	max-height:calc(100vh - 6em - calc(2 * calc(1.2em + 2px + 10px + 10px)));
	margin:calc(-1em + 2px) 0 1em 1px;
	outline:solid 1px var(--c);
	border:solid 10px #08f1; border-width:0.8em 3px; border-radius:0 5px 5px 5px; overflow:hidden;
	box-shadow:inset 0 0 0 1px var(--c);
	padding:1px;
	Xpadding:var(--p) 6px;
	Xbackground:#000a;   /* Turns command dark */
}


/*** FANCY TERMINAL ***/

.fancy.terminal::before {
	content:''; position:absolute; top:0; left:0; width:100%; height:100%;
	background:unset;
	background-image:url(/images/bg_grid3.jpg);   /******************************************************* GRID **/
	background-size:cover;
	background-size:auto 100%;
	background-position:center;
	transition:filter 0.5s ease-in-out;
	Xfilter:hue-rotate(70deg);
}
@media (min-aspect-ratio: 4/3) {
	.fancy.terminal::before {
		background-size: 100% 100%;
	}
}
.fancy.connected.terminal { opacity:1; }
:not(.connected).terminal::before {
	filter:hue-rotate(-60deg);
}

/* BEAM */
.fancy.terminal::after {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; Xz-index:1;
	background-color:#2220;
	background-image:url(/images/beam.png);   /*********************************************************** BEAM **/
	background-position:6px center;
	background-repeat:no-repeat;
	background-size:calc(96px / 2) var(--terminal-height);
	Xfilter:hue-rotate(200deg) brightness(0.75) contrast(1.5);
	filter:hue-rotate(-60deg) brightness(0.75) contrast(1.5);
}
.fancy.connected.terminal::after {
	filter:hue-rotate(0deg) brightness(1) contrast(1);
}
.fancy.connected.terminal:is(.ping,.transmit)::after {
	filter:hue-rotate(0deg) brightness(1.1) contrast(1);
}

/* BIT */
.fancy.enabled.terminal.bit output::before {
	transform:translate(-50%,-50%) scale(1);
}
.fancy.terminal output::before {
	--b:0.85;
	content:'';
	position:absolute; top:50%; left:50%; Xz-index:-2; transform:translate(-50%,-50%) scale(0.00001);
	width:130px; height:125px;
	background-image:url(/images/bit_transparent.gif);   /************************************************* BIT **/
	filter:hue-rotate(180deg) brightness(var(--b));
	transition:transform 0.3s linear;
}
.fancy.terminal > * { z-index:3; }
.fancy.terminal.connected output::before { filter:hue-rotate(  0deg) brightness(var(--b));        }
.fancy.terminal.bit.yes   output::before { filter:hue-rotate(-90deg) brightness(0.9) contrast(2); }
.fancy.terminal.bit.no    output::before { filter:hue-rotate(140deg) brightness(0.8) contrast(3); }
.fancy.terminal.bit.yes   output::after,
.fancy.terminal.bit.no    output::after {
	content:'';
	position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:-1;
	width:200%; height:200%;
	Xborder-radius:100%;
	background:transparent;
}


/* FANCY PRE */

.fancy.terminal :is(textarea, pre) { padding-left:50px; }
/* Beam DOTS */
.fancy.terminal pre::before {
	content:'';
	position:absolute; left:calc(10px + var(--terminal-margin)); top:0.5rem;
	width:10px; height:7px; transform:translate(-50%,-50%);
	outline:solid 1px #fff2; border-radius:100%;
	background:radial-gradient(ellipse at center, #fff, #fff8 2px, #fff1 5px, #fff0 6px);
}
.animate.fancy.terminal	 pre.expand::before {
	animation: MARKER_GLOW 3s ease-in-out infinite;
}
@keyframes MARKER_GLOW {
	    0% { opacity:1.0; }
	   50% { opacity:0.6; }
	  100% { opacity:1.0; }
}
.fancy.terminal pre.expand::before {
	outline-color:#fff4; border-radius:100%;
	background:radial-gradient(ellipse at center, #ffff, #fff8 3px, #fff1 10px, #fff0 20px);
	width:20px;
}
.fancy.terminal pre.chat::before {
	--h:calc(var(--line-height) - 2px);
	content:'Msg';
	top:calc(0.5rem + 1px);
	width:30px; height:var(--h); line-height:var(--h);
	outline:none; border:solid 1px #fff4; border-radius:3px;
	font-size:0.8em; text-align:center;
	background:#0006;
}
.fancy.terminal pre.chat.unexpand::before { background:#fff6; }

.terminal code      { color:var(--code-color   ); }
.terminal .success  { color:var(--success-color); }
.terminal .warning  { color:var(--warning-color); }
.terminal .error    { color:var(--error-color  ); }
.terminal .true     { color:var(--true-color   ); }
.terminal .false    { color:var(--false-color  ); }
.terminal .null     { color:var(--null-color   ); }/*
.terminal code.period   { color:#ccc; }
.terminal code.colon    { color:#ccc; }
.terminal code.semi     { color:#ccc; }
.terminal code.slash    { color:#ccc; }
.terminal code.curlyO   { color:#fff; }
.terminal code.bracketO { color:#eee; }
.terminal code.parensO  { color:#ccc; }
.terminal code.parensC  { color:#ddd; }
.terminal code.bracketC { color:#ccc; }
.terminal code.curlyC   { color:#bbb; }
*/


/*** ANIMATIONS ***/

/* Online Status */
.animate.fancy.connected.terminal .connection > button,
.animate.fancy.connected.terminal .node > button {
	animation: CONNECTION 2s ease-in-out infinite alternate;
}
@keyframes CONNECTION {
	  0% { filter:brightness( 1.0 ); box-shadow:0 0 15px 0 var(--online-color-0); }
	100% { filter:brightness( 1.1 ); box-shadow:0 0 15px 0 var(--online-color-f); }
}

/* Beams */
:not(.init).animate body::after,
.animate.fancy.terminal::after {
	animation: BEAM 0.1s ease-in-out infinite;
}
@keyframes BEAM {
	  0% { opacity:1.0;  }
	 49% { opacity:1.0;  }
	 50% { opacity:0.95; }
	 99% { opacity:0.95; }
	100% { opacity:1.0;  }
}

/* Transmission */
X.fancy.terminal .toolbar button.transmit::before,
X.fancy.terminal .toolbar button.ping::before {
	animation:TRANSMISSION 0.4s linear;
	opacity:0;
}
@keyframes TRANSMISSION {
	  0% { opacity:0;   }
	  1% { opacity:1;   }
	 30% { opacity:1;   }
	 31% { opacity:0.6; }
	 50% { opacity:0.9; }
	 68% { opacity:0.6; }
	 69% { opacity:1;   }
	 99% { opacity:1;   }
	100% { opacity:0;   }
}

/* MCP */
X:not(.init) .animate.enabled.terminal::before {
	content: ''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:-2;
	background-image: url(/images/mcp.jpg);
	background-size: cover;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	filter:contrast(1.5) brightness(0.5);
	animation: MCP_MOVE 30s linear infinite;
}
@keyframes MCP_MOVE {
	 00% { transform:scale(1.00) rotate( 0deg) }
	 11% { transform:scale(1.03) rotate( 1deg) }
	 22% { transform:scale(1.10) rotate( 0deg) }
	 33% { transform:scale(1.25) rotate(-2deg) }
	 50% { transform:scale(1.50) rotate( 0deg) }
	 66% { transform:scale(1.25) rotate( 2deg) }
	 77% { transform:scale(1.10) rotate( 0deg) }
	 88% { transform:scale(1.03) rotate(-1deg) }
	100% { transform:scale(1.00) rotate( 0deg) }
}

/* Background */
X:not(.init) .animate.enabled.terminal::after {
	animation: MCP_GLOW 360s linear infinite; /*grid3*/
}
@keyframes MCP_GLOW {
	  0% { opacity:1.0; }

	 25% { opacity:1.0; }
	 26% { opacity:0.85; }
	 43% { opacity:0.75; }
	 45% { opacity:1.0; }

	 50% { opacity:1.0; }
	 50.4% { opacity:0.0; }
	 52% { opacity:0.7; }
	 58% { opacity:1.0; }

	100% { opacity:1.0; }
}

/* Bit */
X:not(.init) .animate.enabled.terminal output::before {
	animation: BIT_GLOW 360s linear infinite; /*bit.gif*/
}
@keyframes BIT_GLOW {
	 00% { opacity:1; }

	 23% { opacity:1; }
	 24% { opacity:0; }
	 45% { opacity:0; }
	 46% { opacity:1; }

	 48% { opacity:1; }
	 49% { opacity:0; }
	 59% { opacity:0; }
	 60% { opacity:1; }

	100% { opacity:1; }
}


/*EOF*/




/* Time */
.terminal .time {
	Xfont-variant-numeric: normal;
	Xfont-variant-numeric: ordinal;
	Xfont-variant-numeric: slashed-zero;
	Xfont-variant-numeric: lining-nums; /* <numeric-figure-values> */
	Xfont-variant-numeric: oldstyle-nums; /* <numeric-figure-values> */
	Xfont-variant-numeric: proportional-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: tabular-nums; /* <numeric-spacing-values> */
	Xfont-variant-numeric: diagonal-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: stacked-fractions; /* <numeric-fraction-values> */
	Xfont-variant-numeric: oldstyle-nums stacked-fractions;
}
