* { margin:0; padding:0; box-sizing:border-box; line-height:1.4; font-family:sans-serif; }

html, body { background:#fff; color:#000; }

:root {
	--color0: #5a0;
	--color1: #7b3;
	--color2: #9c6;
	--color3: #bd9;
	--color4: #dec;
	--color5: #e8f0d8;
	--color6: #fff;
	--comment-color:#353;
	--diagram-padding:1em 0.5em;
}

body { max-width:65em; margin:0 auto; padding:1em; }
body > :is(h2,h3,h4,h5,h6,p,ul,ol,dl,table) { margin:1em 0; }
header p { margin:0; }
header h1 * { display:inline-block; vertical-align:middle; }
header span { font-weight:bold; }
footer { font-weight:bold; text-align:center; margin-top:2em; }
header small { display:block; font-size:1rem; }
li, dt, dd { margin:0 0 0 1em; }
td { padding:0 0.5em 0.25em; vertical-align:top; }
code { font-family:monospace; white-space:pre; }

ol.index, .index ol { counter-reset:item; }
.index li { display:block; }
.index li:before { content:counters(item, ".") " "; counter-increment:item; }


.diagram { position:relative; margin-bottom:2em; max-width:60em; margin-left:auto; margin-right:auto; }
.diagram div { min-height:3rem; }
.diagram, .diagram :not(q) {
	Xposition:relative;
	display:flex; flex-direction:row; flex-wrap:wrap; align-items:center; justify-content:center;
	flex-shrink:1; flex-grow:1;
	padding:0.5rem; gap:0.5rem;
}
.diagram :is(h1,h2,h3,h4,h5,h6,b) {
	flex-grow:0;
	font-size:1rem; font-weight:normal;
}
.diagram, .diagram :not(h1,h2,h3,h4,h5,h6,small,b,q) {
	border:solid 1px #240c; border-radius:0.25em;
}
.diagram small {
	font-size:1em; font-style:italic;
	color:var(--comment-color);
}
X.diagram :is(h1,h2) { flex-basis:100%; font-weight:bold; }
.diagram * { }
.diagram { background:var(--color0); }
.diagram > div { background:var(--color1); }
.diagram > * > div { background:var(--color2); }
.diagram > * > * > div { background:var(--color3); }
.diagram > * > * > * > div { background:var(--color4); }
.diagram > * > * > * > * > div { background:var(--color5); }
.diagram > * > * > * > * > * > div { background:var(--color6); }
.diagram .important { flex-basis:100%; justify-self:start; }
.diagram .ephemeral { border:dashed 2px #000; }

