cep-terminal {
	--font-size:14px;
	--line-height : 1.1rem;

	--marker-left    : var(--terminal-margin);
	--marker-width   : 100%;

	--tab-size       : 4;
	--input-tab-size : 8; X:var(--tab-size);

	--terminal-height    : calc(100vh - 2 * (var(--terminal-margin) ));
	--terminal-margin    : 0px;
	--terminal-padding-x : 0;
	--terminal-padding-y : 2px;

	--toolbar-border-radius : 0px;
	--toolbar-padding       : 0px;

	--menu-gap          : 1px;
	--menu-arrow-offset : 4px;
	--menu-arrow-color  : #6af;

	--items-outline       : none;
	--items-border        : none;
	--items-border-radius : 0px;
	--items-padding       : 1px;
	--items-background    : var(--toolbar-background);

	--status-fade-time : 0.333s;

	--button-border        : none;
	--button-border-radius : 0px;
	--button-outline       : none;
	--button-padding       : 0.5em 1em;

}

cep-terminal.fancy {
	--beam-offset-x  : 12px;
	--beam-dots-left : 11px;
	--marker-left    : var(--terminal-margin);
	--marker-width   : calc(100% - 15px);

	--terminal-margin     : 15px;
	--terminal-padding-x  : 10px;
	--terminal-padding-y  : 1em;

	--toolbar-color      : #fed;

	--toolbar-background : #235e;

	--toolbar-border-radius : 0.5em;
	--toolbar-padding       : 1px;
	--toolbar-gap           : 5px;
	--Xtoolbar-outline    : solid 2px #00f;
	--toolbar-box-shadow :
		inset 0 0 0 1px #08f4,
		inset 0 0 5px 0 #000
	;

	--menu-gap : 0px;
	--menu-arrow-offset:5px;

	--items-border-radius : 0.5em;
	--items-padding       : 0em;

	--button-color                      : #fed;
	--button-background                 : #246d;
	--button-special-color              : #fed;
	--button-special-background         : #534d;
	--button-enabled-color              : #af4;
	--button-enabled-background         : #240d;
	--button-special-enabled-background : #240d;
	--button-special-enabled-color      : #fca;
	--button-task-background            : #355d;

	--button-border        : solid 1px #0008;
	--button-border-radius : 0.5em;
	--button-outline       : none;
	--button-padding       : 0.35em 1em;
	--button-box-shadow    :
		inset -0px -0px 0px 1px #0006,
		inset  1px  1px 0px 1px #fff2
	;

	--offline-color       : #fc08;
	--offline-background  : #555;
	--online-color        : #0af;
	--online-color-0      : #0afc;
	--online-color-f      : #0aff;
	--online-background   : #37aa;
	--online-border       : solid 1px #0000;
	--online-box-shadow   :
		0 0 10px 3px #28da,
		inset 0 0 2px 1px #0ffc
	;

	--connection-margin : 0;
	--connection-height : unset;X:2.4em;

	--authenticated-color : #fff;
	--transmit-background : #4af7;
	--transmit-box-shadow   :
		0 0 13px 4px #28da,
		inset 0 0 4px 1px #0ffc
	;
}
.fancy.terminal {
	--focus-box-shadow : #0ff;



	--menu-gap           : 5px;
	--top-menu-radius    : 0 0 var(--input-radius) var(--input-radius);
	--bottom-menu-radius : var(--input-radius) var(--input-radius) 0 0;
	--user-radius        : 0px;

	--output-margin-top  : 1rem;
	--output-margin-x    : 0px;
	--output-padding-x   : 0;X:var(--menu-gap);

	--top-menu-radius    : var(--input-radius);
	--bottom-menu-radius : var(--input-radius);

	--input-border       : solid 1px #000;
	--input-radius       : 1rem;
	--input-padding-x    : 0.8rem;
	--button-bg          : #48c3;
	--button-enabled-bg  : #88ff0028;
	--button-special-bg  : #ff000028;
	--button-enter-bg    : var(--button-special-background);
	--button-close-bg    : var(--button-special-background);

	--online-bg          : #0484;   /* Buttons bg */
	--offline-bg         : #230d;

	--transmit-bg        : #48a5;
}


/* DARK MODE */
cep-terminal {
	--scrollbar-thumb-color:#08f4;
	--scrollbar-track-color:#0660;


	--hover-box-shadow : inset 0 0 0 1px #0f84;
	--focus-box-shadow : inset 0 0 0 1px #0ff;
	--focus-filter     : brightness(1.5);  /* Doesn't really work well */

	--a-color   : #0af;
	--a-visited : #b8f;
	--a-active  : #0ff;
	--a-focus   : #fff;
	--a-hover   : #0ff;

	--terminal-color      : #fed;
	--terminal-background : #000;
	--desktop-color       : #08f;
	--desktop-background  : #48f2;

	--toolbar-gap        : 1px;
	--toolbar-background : #333;
	--toolbar-color      : #999;

	--input-color : #fc0;
	--input-bg    : #000f;

	--button-color              : #fed;
	--button-background         : #246;
	--button-special-color      : #fed;
	--button-special-background : #534;

	--button-enabled-color              : #af4;
	--button-enabled-background         : #240;
	--button-special-enabled-background : #240;
	--button-special-enabled-color      : #fca;

	--button-enter-color        : var(--button-special-color);
	--button-enter-background   : var(--button-special-background);
	--button-close-color        : var(--button-special-color);
	--button-close-background   : var(--button-special-background);
	--button-task-background    : #355;

	--caret-color : #ff0;

	--stripes-color0   : #8882;
	--stripes-color1   : var(--terminal-background);
	--stripes-offset-y : 0;

	--toggle-state-off : #78a;
	--toggle-state-on  : #bdf;

	--chat-color : #8df;
	--cep-color  : #abc;
	--mcp-color  : #f00;

	--warning-color   : #fc0;
	--error-color     : #e20;
	--success-color   : #0f0;

	--code-color    : #fcb;
	--success-color : #0a0;
	--warning-color : #c80;
	--error-color   : #c00;
	--true-color    : var(--success-color);
	--false-color   : var(--error-color);
	--null-color    : #0cc;

	--hover-color     : #fff;
	--text-color      : #fed;
	--request-color   : #ca0;
	--response-color  : #78f;
	--string-color    : #5c6;
	--notice-color    : #acf;
	--broadcast-color : #86f;
	--update-color    : #090;

	--offline-color       : #fc08;
	--offline-background  : #555;
	--online-color        : #0af;
	--online-color-0      : #0afc;
	--online-color-f      : #0aff;
	--online-background   : #157;
	--authenticated-color : #fff;

	--transmit-background : #268;

	--separator-color  : #a60;
	--separator-border : dashed 1px var(--separator-color);
}

